<footer class="footer">
	<div class="footer__container container">

		<div class="footer__line"></div>
		
		<a class="footer__copy modal-link" href="#modal-copyright" title="Click me">© Author 2022</a>
		<div class="footer__socials socials">
			<a class="socials__link" href="#vk">
				<span>vk</span>
				<i class="icon-vk"></i>
			</a>
			<a class="socials__link" href="#telegram">
				<span>telegram</span>
				<i class="icon-telegram"></i>
			</a>
			<a class="socials__link" href="#whatsapp">
				<span>whatsapp</span>
				<i class="icon-whatsapp"></i>
			</a>
			<a class="socials__link" href="#viber">
				<span>viber</span>
				<i class="icon-viber"></i>
			</a>
		</div>
		<a class="footer__policy" href="404.html">Personal data policy</a>
		<a class="footer__policy" href="404.html">Safety policy</a>

	</div>
</footer>

<div class="rotation-alert">
	<p class="rotation-alert__text">Please, turn the device</p>
	<div class="rotation-alert__image">
		<div class="rotation-alert__image-outer">
			<svg>
				<use href="media/img/device-rotate-sprite.svg#icon-arrows"></use>
			</svg>
		</div>
		<div class="rotation-alert__image-inner">
			<svg>
				<use href="media/img/device-rotate-sprite.svg#icon-mobile"></use>
			</svg>
		</div>
	</div>
</div>


@@if (light == true) {
	@@include('#light-build.html')
}

<noscript>
	<div class="noscript-alert">
		<p>For full functionality of this site it is necessary to enable JavaScript.<br>Here are the <a href="https://www.enable-javascript.com/">instructions how to enable JavaScript in your web browser</a>.</p><br>
		<p>Для полной функциональности этого сайта необходимо включить JavaScript.<br>Вот <a href="https://www.enable-javascript.com/ru/">инструкции, как включить JavaScript в вашем браузере</a>.</p>
	</div>
</noscript>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
@@if (light == true) {<script src="js/website.script.js"></script>}
@@if (light == false) {<script src="js/website.script.min.js"></script>}

<!-- <?php wp_footer() ?> -->
</body>
</html>