<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>@@title</title>
	<meta name="description" content="@@descr">
	<meta name="robots" content="@@robots">
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
	@@if (light == true) {<link rel="stylesheet" href="css/website.style.css">}
	@@if (light == false) {<link rel="stylesheet" href="css/website.style.min.css">}
	<link rel="icon" href="media/img/favicon-32.png" sizes="32x32">
	<link rel="icon" href="media/img/favicon-180.png" sizes="180x180">
	<link rel="apple-touch-icon" href="media/img/favicon-180.png" sizes="180x180">
	<meta name="msapplication-TileImage" content="media/img/favicon-270.png">
</head>

<body class="@@bodyclass">
<header class="header">
	<div class="header__bg"></div>
	<div class="header-menu-turn-off-area"></div>
	<div class="header__print-address-qr">QR</div>
	<div class="header__print-address">address.com</div>

	<div class="header-level header-level--mobile">

		<div class="header-level__logo logo">
			<a class="logo__link" href="index.html">
				<span class="logo__text">Business</span>
				<span class="logo__text-colored">GROW</span>
				<span class="logo__bottom-text">
					developing & marketing company
				</span>
				<span class="logo__up"><i></i></span>
				<span class="logo__line"></span>
			</a>
		</div>

		<div class="header-level__button-box">
			<div class="header-menu-open-btn"><i class="icon-menu"></i></div>
			<div class="header-menu-close-btn"><i class="icon-cross"></i></div>
		</div>

	</div>

	<div class="header-menu-hide-wrapper">

		<div class="header-level header-level--top">

			<nav class="header-level__header-menu header-menu">
				<ul class="header-menu__items">
					<li class="header-menu__item" data-name="home">
						<a class="header-menu__link" href="index.html">Home</a>
						<!-- если страница в корне сайта, ставить '/', если нет - 'index.html' -->
					</li>
					<li class="header-menu__item" data-name="knowledge">
						<a class="header-menu__link" href="knowledge.html">Knowledge base</a>
					</li>
					<li class="header-menu__item" data-name="cases">
						<a class="header-menu__link" href="categories.html">Cases</a>
					</li>
					<li class="header-menu__item mobile-only" data-name="consult">
						<a class="header-menu__link modal-link" href="#modal-consult">Get a consultation</a>
					</li>
					<li class="header-menu__item mobile-only" data-name="question">
						<a class="header-menu__link modal-link" href="#modal-message">Send a question</a>
					</li>
					<li class="header-menu__item mobile-only" data-name="call">
						<a class="header-menu__link modal-link" href="#modal-call">Order a call</a>
					</li>
				</ul>
			</nav>

		</div>

		<div class="header-level header-level--middle">

			<a class="@@feedback_button_class" href="#modal-call">
				feedback
			</a>
			<div class="header-level__socials socials socials--vertical">
				<a class="socials__link modal-link" href="#modal-message">
					<span>vk</span>
					<i class="icon-vk"></i>
				</a>
				<a class="socials__link modal-link" href="#modal-message">
					<span>telegram</span>
					<i class="icon-telegram"></i>
				</a>
				<a class="socials__link modal-link" href="#modal-message">
					<span>whatsapp</span>
					<i class="icon-whatsapp"></i>
				</a>
				<a class="socials__link modal-link" href="#modal-message">
					<span>viber</span>
					<i class="icon-viber"></i>
				</a>
			</div>
			
		</div>

		<div class="header-level header-level--bottom">
			<a class="mail-button" href="#mailto">sendmail@example.com</a>
		</div>

		<div class="header-level header-level--footer">
			<div class="menu-footer">
				
				<a class="menu-footer__copy modal-link" href="#modal-copyright">© Author 2022</a>
				<div class="menu-footer__socials socials">
					<a class="socials__link" href="#vk">
						<span>vk</span>
						<i class="icon-vk"></i>
					</a>
					<a class="socials__link" href="#telegram">
						<span>telegram</span>
						<i class="icon-telegram"></i>
					</a>
					<a class="socials__link" href="#whatsapp">
						<span>whatsapp</span>
						<i class="icon-whatsapp"></i>
					</a>
					<a class="socials__link" href="#viber">
						<span>viber</span>
						<i class="icon-viber"></i>
					</a>
					</div>
				<a class="menu-footer__policy" href="404.html">Personal data policy</a>
				<a class="menu-footer__policy" href="404.html">Safety policy</a>
		
			</div>
		</div>

	</div>
</header>