@import "colors";

/* Global elements */
// .g-h1 {
// 	font-size: 40px;
// 	line-height: 3;
// 	text-align: center;
// }
.g-h2 {
	font-weight: 500;
	font-size: 36px;
	line-height: 55px;
	letter-spacing: 0.03em;
	color: $color-3;
}
// .g-h3 {}
// .g-h4 {}
// .g-text {}
// .g-button, .g-button:visited {}
// .g-link, .g-link:visited {}

.text-button-with-arrow {
	font-size: 16px;//22px;
	height: em(90);//4.091em;
	display: inline-flex;
	background-color: transparent;
	// transition: background-color $timer-hover;
	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 em(30);
		background-color: $color-3;
		span {
			position: relative;
			font-size: em(22);
			font-weight: 700;
			letter-spacing: 0.03em;
			color: $color-2;
			white-space: nowrap;
				&:before {
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				display: inline-block;
				width: 100%;
				height: 1px;
				background-color: transparent;
				transition: background-color $timer-hover;
			}
		}
	}
	&--rounded {
		border-radius: em(55);
	}
	&--rounded &__text {
		border-radius: em(55);//45px;
		padding: 0 em(114);
		margin-right: em(22);
		span {
			font-size: em(18.2);
			letter-spacing: 0.25em;
			text-transform: uppercase;
		}
	}
	&__arrow {
		flex: 0 0 auto;
		width: em(90);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		color: $color-3;
		border: solid 1px $color-3;
		// transition: color $timer-hover;
	}
	&--rounded &__arrow {
		border-radius: 50%;
	}
	&:hover {
		background-color: $color-3;
	}
	&:hover &__text span:before {
		background-color: $color-2;
	}
	&:hover &__arrow {
		color: $color-2;
	}
}

.feedback-button, .feedback-button:visited,
.feedback-button--clipped, .feedback-button--clipped:visited {
	display: inline-block;
	width: 184px;
	height: 50px;
	background-color: $color-3;
	color: $color-2;
	font-weight: 700;
	font-size: 15px;
	line-height: 50px;
	letter-spacing: 0.1em;
	text-align: center;
	transition: background-color $timer-hover, color $timer-hover;
	&:hover {
		background-color: $color-4;
		color: $color-3;
	}
}
.feedback-button--clipped, .feedback-button--clipped:visited {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 28px 100%);
	padding-left: 28px;
}
.video-button { // переделать на svg или иконку
	// display: inline-flex;
	// justify-content: center;
	// align-items: center;
	width: 132px;
	height: 90px;
	// border-radius: 20px;
	// position: relative;
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 1;
	// 	display: inline-block;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: transparent;
	// 	// background-color: $color-3;
	// 	transition: background-color $timer-hover;
	// }
	i:before {
		background: $gradient-2;
		background-clip: text;
		font-size: 130px;
		// доделать видео батн, там сделал icon-play, надо сделать иконку оболочку из ютубовской и заклипить
		
		// color: $color-2;
		// position: relative;
		// z-index: 2;
	}
	// &:hover:before {
	// 	background-color: $color-3;
	// }
}

.socials {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 190px;
	font-size: 0;
	&__link, &__link:visited {
		width: 40px;
		height: 40px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: $color-2;
		border: 1px solid $color-3;
		border-radius: 50%;
		color: $color-3;
		transition: all $timer-hover;
	}
	&__link {
		&:hover {
			background-color: $color-3;
			color: $color-2;
		}
	}
}
.icon-vk {
	margin-top: 2px;
	font-size: 12px;
}
.icon-telegram {
	margin: 2px 2px 0px 0px;;
	font-size: 16px;
}
.icon-zen {
	// margin: 1px 0px 0px 1px;
	font-size: 22px;
}
.icon-vc {
	margin-top: 1px;
	font-size: 16px;
}




// Image loader
// @keyframes image-loading {
// 	100% {transform: rotate(360deg);}
// }
// .image-loader {
// 	width: 42px;
// 	height: 42px;
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// 	margin-left: -21px;
// 	margin-top: -21px;
// 	transform-origin: 50%;
// 	animation: image-loading 1s infinite linear;
// 	border: 4px solid silver;
// 	border-radius: 50%;
// 	border-top-color: transparent;
// 	border-bottom-color: transparent;
// }
