@import "colors";

/* Global elements */
// .g-h1 {
// 	font-size: 40px;
// 	line-height: 3;
// 	text-align: center;
// }
.g-h2 {
	font-weight: 500;
	font-size: em(36);
	line-height: 1.53;
	letter-spacing: 0.03em;
	color: $color03;
}
// .g-h3 {}
// .g-h4 {}
// .g-text {}
// .g-button, .g-button:visited {}
// .g-link, .g-link:visited {}

.text-button-with-arrow {
	// font-size: 16px;//22px;
	height: em(90);//4.091em;
	display: inline-flex;
	background-color: transparent;
	// transition: background-color $timer-hover;
	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 em(30);
		background-color: $color03;
		span {
			position: relative;
			font-size: em(22);
			font-weight: 700;
			letter-spacing: 0.03em;
			color: $color02;
			white-space: nowrap;
			&:before {
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				display: inline-block;
				width: 100%;
				height: 1px;
				background-color: transparent;
				transition: background-color $timer-hover;
			}
		}
	}
	&--rounded {
		border-radius: em(55);
	}
	&--rounded &__text {
		border-radius: em(55);//45px;
		padding: 0 em(114);
		margin-right: em(22);
		span {
			font-size: em(18.2);
			letter-spacing: 0.25em;
			text-transform: uppercase;
		}
	}
	&__arrow {
		flex: 0 0 auto;
		width: em(90);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color02;
		color: $color03;
		border: solid 1px $color03;
		// transition: color $timer-hover;
	}
	&--rounded &__arrow {
		border-radius: 50%;
	}
	&:hover {
		background-color: $color03;
	}
	&:hover &__text span:before {
		background-color: $color02;
	}
	&:hover &__arrow {
		background-color: $color03;
		color: $color02;
	}
}

.feedback-button, .feedback-button:visited,
.feedback-button--clipped, .feedback-button--clipped:visited {
	display: inline-block;
	width: em(184);
	height: em(50);
	background-color: $color03;
	color: $color02;
	font-weight: 700;
	font-size: em(15);
	line-height: em(50);
	letter-spacing: 0.1em;
	text-align: center;
	transition: background-color $timer-hover, color $timer-hover;
	&:hover {
		background-color: $color04;
		color: $color03;
	}
}
.feedback-button--clipped, .feedback-button--clipped:visited {
	clip-path: polygon(0 0, 100% 0, 100% 100%, em(28) 100%);
	padding-left: em(28);
}

.mail-button, .mail-button:visited {
	display: inline-block;
	width: 260px;
	height: 50px;
	line-height: 50px;
	border: 1px solid $color04;
	border-radius: 30px;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	color: $color04;
}

.svg-sprite {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}
#svg-play-button-shape {transform: scale(0.003893, 0.00572);}

.video-button {
	// font-size: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: em(132);
	height: em(90);
	position: relative;
	span {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: inline-block;
		width: 100%;
		height: 100%;
		background: $gradient-2;
		clip-path: url("#svg-play-button-shape");
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			transition: background-color $timer-hover;
		}
	}
	i:before {
		margin-left: 0.2em;
		font-size: 2.5em;
		color: $color02;
	}
	&:hover span:before {
		background-color: $color03;
	}
}

.socials {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: em(190);
	span {
		font-size: 0;
	}
	&__link, &__link:visited {
		width: em(40);
		height: em(40);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: $color02;
		border: 1px solid $color03;
		border-radius: 50%;
		color: $color03;
		transition: all $timer-hover;
	}
	&:not(.menu-footer__socials) &__link {
		&:hover {
			background-color: $color03;
			color: $color02;
		}
	}
}
.icon-vk {
	margin-top: em(2);
	font-size: em(12);
}
.icon-telegram {
	margin: em(2) em(2) 0px 0px;
	font-size: 1em;
}
.icon-zen {
	// margin: 1px 0px 0px 1px;
	font-size: em(22);
}
.icon-vc {
	margin-top: em(1);
	font-size: 1em;
}

.mobile-only {
	@media (min-width: $mobile+1+px) {
		display: none;
	}
}



// Image loader
// @keyframes image-loading {
// 	100% {transform: rotate(360deg);}
// }
// .image-loader {
// 	width: 42px;
// 	height: 42px;
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// 	margin-left: -21px;
// 	margin-top: -21px;
// 	transform-origin: 50%;
// 	animation: image-loading 1s infinite linear;
// 	border: 4px solid silver;
// 	border-radius: 50%;
// 	border-top-color: transparent;
// 	border-bottom-color: transparent;
// }
