/* Icon font (IcoMoon) */
@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.woff2') format('woff2'),
		url('../fonts/iconfont.woff') format('woff'),
		url('../fonts/iconfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
i {
	font-family: 'iconfont' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
// Icons' codes
.icon-zen:before {
	content: "\e900";
 }
 .icon-arrow:before {
	content: "\e901";
 }
 .icon-arrow2:before {
	content: "\e902";
 }
 .icon-bubble:before {
	content: "\e903";
 }
 .icon-burger:before {
	content: "\e904";
 }
 .icon-cross:before {
	content: "\e905";
 }
 .icon-cross2:before {
	content: "\e906";
 }
 .icon-edu:before {
	content: "\e907";
 }
 .icon-folder:before {
	content: "\e908";
 }
 .icon-funnel:before {
	content: "\e909";
 }
 .icon-gears:before {
	content: "\e90a";
 }
 .icon-lock:before {
	content: "\e90b";
 }
 .icon-ok:before {
	content: "\e90c";
 }
 .icon-phone:before {
	content: "\e90d";
 }
 .icon-telegram:before {
	content: "\e90e";
 }
 .icon-traffic:before {
	content: "\e90f";
 }
 .icon-vc:before {
	content: "\e910";
 }
 .icon-viber:before {
	content: "\e911";
 }
 .icon-vk:before {
	content: "\e912";
 }
 .icon-vk2:before {
	content: "\e913";
 }
 .icon-whatsapp:before {
	content: "\e914";
 }
 .icon-windows:before {
	content: "\e915";
 }
 .icon-youtube:before {
	content: "\ea9d";
 }
 