@import "colors";

/* Body settings */
body {
	max-width: $page-max-width+px;
	// margin: 0 auto; //REQ! if max-width
	margin-left: 68px;
	font-family: $font-1;
	font-size: $font-size-default;
	color: $color-3;
	background-color: $color-2;
	&._locked {overflow: hidden;} //REQ!

	// Variables for JS manipulations:
	--header-position: 0px; //REQ!
	--header-offset: 0px; //REQ!
	--header-height: 0px; //REQ!
	--footer-height: 0px; //REQ!
	--media-mobile: #{$mobile}; //REQ!
	--timer-menu: #{$timer-menu}; //REQ!
	--timer-modal: #{$timer-modal}; //REQ!
}
.container {
	width: 100%; //REQ!
	max-width: $container-width+px; //REQ!
	min-width: calc($page-min-width - (100vw - 100%)); //REQ!
	margin: 0 auto; //REQ!
	padding: 0 $container-padding+px;
}

@import "_globs";

/* Modules */
// @import "modules/accordion_css";
// @import "modules/accordion_js";
@import "modules/footer";
// @import "modules/form";
@import "modules/header";
// @import "modules/input_checkbox";
// @import "modules/input_radio";
// @import "modules/input_range_colored";
// @import "modules/input_range_double";
// @import "modules/loadscreen";
// @import "modules/modal";
// @import "modules/pagination";
// @import "modules/popup";
// @import "modules/select";
// @import "modules/spoiler";
// @import "modules/tabs";
// @import "modules/up_button";
// @import "modules/video_player";

/* Main content */
.main {
	margin-top: calc(var(--header-offset) + var(--header-height)); //REQ! if header 'position' is 'fixed' or 'absolute'
	min-height: calc(100vh - var(--header-offset) - var(--header-height) - var(--footer-height) - 1px); // makes footer sticky to bottom
	// Section margins Example:
	// &__section {
	// 	.page-home & {margin-top: 67px;}
	// 	.page-about & {margin-top: 10px;}
	// }
}

.decor-triangle {
	width: 640px;
	&__container {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 86.71875%;
		clip-path: polygon(0 100%, 50% 0, 100% 100%);
		background: $gradient-3;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.2;
	}
	&__inner {
		width: 50%;
		height: 45.94594%;
		position: absolute;
		bottom: 0;
		left: 25%;
		clip-path: polygon(0 100%, 50% 0, 100% 100%);
		&:before, &:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
		}
		&:before {
			z-index: 2;
			height: 46.667%;
			background-color: $color-2;
		}
		&:after {
			height: 100%;
			background-color: $color-4;
			opacity: 0.4;
		}
	}
}
