@import "colors";

/* Body settings */
body {
	max-width: $page-max-width+px;
	margin: 0 auto; //REQ! if max-width
	font-family: $font-1;
	font-size: $font-size-default;
	color: $color03;
	background-color: $color02;
	// overflow: hidden;
	&._locked {overflow: hidden;} //REQ!
	
	@media (max-width: $desktop+px) and (min-width: $mobile+1+px) {
		font-size: resize-multiplier(16, $desktop, 1);
	}
	@media (max-width: $mobile+px) {
		font-size: 10px;
	}
	@media (min-width: $mobile+1+px) {
		padding-left: 3.54%;//68px;
	}

	// Variables for JS manipulations:
	--header-position: 0px; //REQ!
	--header-offset: 0px; //REQ!
	--header-height: 0px; //REQ!
	--footer-height: 0px; //REQ!
	--media-mobile: #{$mobile}; //REQ!
	--timer-menu: #{$timer-menu}; //REQ!
	--timer-modal: #{$timer-modal}; //REQ!
// }
	position: relative;
	height: 1080px;
	max-height: 100vh;
	display: grid;
	grid-template-columns: auto em(360);
	grid-template-rows: auto 1fr auto;
	&.homepage-body {
		grid-template-columns: 100%;
	}
	&::-webkit-scrollbar {
		width: 0.4166vw;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: $color06;
	}
	scrollbar-width: thin;
	scrollbar-color: $color06 transparent;
}
.container {
	width: 100%; //REQ!
	max-width: em(1380);//$container-width+px; //REQ!
	min-width: calc($page-min-width - (100vw - 100%)); //REQ!
	// margin: 0 auto; //REQ!
	padding-left: 3.68vw;//68px;
	// padding: 0 67px 0 15px;
	@media (max-width: $mobile+px) {
		padding: 0 30px;
	}
}

@import "_globs";

/* Modules */
// @import "modules/accordion_css";
// @import "modules/accordion_js";
@import "modules/footer";
// @import "modules/form";
@import "modules/header";
// @import "modules/input_checkbox";
// @import "modules/input_radio";
// @import "modules/input_range_colored";
// @import "modules/input_range_double";
// @import "modules/loadscreen";
@import "modules/modal";
// @import "modules/pagination";
// @import "modules/popup";
@import "modules/select";
// @import "modules/spoiler";
// @import "modules/tabs";
// @import "modules/up_button";
// @import "modules/video_player";

/* Main content */
.main {
	width: 100%;
	padding: 3.7vh 0;
	@media (max-width: $mobile+px) {
		padding-bottom: calc(3.7vh + 15px);
	}
	@media (min-width: $mobile+1+px) {
		border-left: solid 1px $color08;
	}
	// Section margins Example:
	// &__section {
	// 	.page-home & {margin-top: 67px;}
	// 	.page-about & {margin-top: 10px;}
	// }
	&__container {
		padding-right: 10px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;//space-between;
		align-items: flex-start;
	}
	&__homepage-title {
		@media (max-width: $mobile+px) {
			.homepage-body & {
				color: $color02;
			}
		}
		@media (max-width: $mobile-s+px) {
			text-align: center;
			width: 100%;
		}
		@media (min-width: $mobile+1+px) {
			span {
				display: block;
			}
		}
	}
	&__homepage-title-top {
		font-size: em(120);
		font-weight: 300;
		letter-spacing: 0.03em;
		line-height: 1.05;
		@media (max-width: $mobile+px) {
			font-weight: 600;
			font-size: 22px;
		}
	}
	&__homepage-title-bottom {
		font-size: em(90);
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		@media (max-width: $mobile+px) {
			font-weight: 600;
			font-size: 22px;
			letter-spacing: 0.03em;
			text-transform: inherit;
		}
	}
	.triangle-arrow {
		margin-top: 8px;
	}
	&__homepage-title-description {
		// margin-top: em(22);
		max-width: em(450);
		font-size: em(24);
		line-height: 1.67;
		letter-spacing: 0.05em;
		color: $color10;
		@media (max-width: $mobile+px) {
			font-weight: 500;
			font-size: 14px;
			.homepage-body & {
				color: $color02;
			}
		}
	}
	&__text-button-with-arrow {
		margin-top: em(50);//90px;
		@media (max-width: $mobile+px) {
			display: none;
		}
	}
	&__rounded-button {
		@media (max-width: $mobile-s+px) {
			margin: 0 auto;
		}
	}
	&__categories {
		// margin-top: em(90);
		margin-top: 1vh;
	}
	&__features {
		flex: 0 1 auto;
		// .page-home & {
			margin-top: em(20);//40px;
			// margin-bottom: 7.685vh;//20px;
			// расчет от 1080
		// }
		@media (max-width: $mobile+px) {
			display: none;
		}
	}
	&__features-slider {
		// position: relative;
		// left: -30px;
	}
	&__mobile-background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}
.decor-triangle {
	position: absolute;
	top: 0;
	right: 0;
	// left: calc(100% - 73vh);
	// left: em(900);
	z-index: -1;
	
	height: 100%;
	// width: 47.3958%;
	width: em(910);
	// max-height: em(1080);

	overflow: hidden;
	// width: 115.31531vh;
	// min-width: em(1080);
	// max-width: calc(1.08 * 1080px);
	// max-width: calc(1.04 * 1080px);
	@media (max-height: 1000px) {
		position: fixed;
		height: 100vh;
	}
	@media (max-width: $mobile+px) {
		display: none;
	}
	&__container {
		position: absolute;
		top: 0;
		// right: em(-340);
		left: 0;
		width: calc(1.1531531 * em(1080));
		// min-width: em(870);
		// max-width: 115.31531vh;
}
	&__shape {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 86.71875%;
		clip-path: polygon(0 100%, 50% 0, 100% 100%);
		background: $gradient-3;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.2;
	}
	&__inner {
		width: 50%;
		height: 45.94594%;
		position: absolute;
		bottom: 0;
		left: 25%;
		clip-path: polygon(0 100%, 50% 0, 100% 100%);
		&:before, &:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
		}
		&:before {
			z-index: 2;
			height: 46.667%;
			background-color: $color02;
		}
		&:after {
			height: 100%;
			background-color: $color04;
			opacity: 0.4;
		}
	}
}
.triangle-arrow {
	transform: rotate(90deg);
	&:before, &:after {
		content: '';
		display: inline-block;
		width: 6px;
		height: 7px;
		clip-path: polygon(0 0, 100% 50%, 0 100%);
		background-color: $color02;
	}
	&:before {
		opacity: 0.3;
	}
}

.categories {
	// background-color: #ddd;
	&__container {}
	&__items {
		margin-top: 7.4vh;//em(80);
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: em(90);
		grid-gap: em(30);
		justify-content: center;
		align-items: center;
	}
	&__item, &__item:visited {
		height: 100%;//em(90);
		padding: 0 em(10);
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		font-size: em(22);
		letter-spacing: 0.03em;
		text-align: center;
		color: $color02;
		background-color: $color03;
		transition: background-color $timer-hover;
		&:hover {
			background-color: $color05;
		}
	}
}

.features {
	max-width: em(938);
	// font-size: 16px;
	// @media (max-width: $desktop+px) {
	// 	font-size: resize-multiplier(16, $desktop, 0.4);
	// }
	// &__container {
	// }
	&__items {
		display: inline-flex;
	}
	&__item {
		&:not(:last-child) {
			margin-right: em(45);
		}
	}
	&__item-img {
		width: em(60);
		height: em(60);
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__item-text {
		margin-top: em(11);
		height: em(84);
		width: auto;
		font-weight: 500;
		font-size: 1em;
		line-height: 1.5;
		letter-spacing: 0.03em;
		color: $color10;
	}
}
.features-slider {
	left: -30px;
	width: calc(100% + 60px);
	padding: 10px 0 15px;
	.swiper-wrapper {
		width: 100%;
	}
	.swiper-slide {
		width: 110px;
		height: 135px;
		padding: 10px;
		background-color: $color02;
		box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
		border-radius: 33px 10px 10px 10px;
		transition: background-color $timer-hover;
		cursor: default;
	}
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: $color05;
		font-size: 17px;
		color: $color02;
		transition: background-color $timer-hover;
	}
	.swiper-slide:hover {
		background-color: $color05;
	}
	.swiper-slide:hover &__img {
		background-color: $color09;
	}
	&__text {
		@include text-max-lines(5);
		margin-top: 3px;
		font-size: 10px;
		line-height: 1.4;
		letter-spacing: 0.03em;
		transition: color $timer-hover;
	}
	.swiper-slide:hover &__text {
		color: $color02;
	}
}

.sidebar {
	grid-column: 2;
	grid-row: 1 / span 3;
	// width: 360px;
	// height: 100%;
	background-color: $color05;
}

.mobile-background {
	width: 100%;
	height: 60vh;//390
	min-height: 300px;
	background: $gradient-3;
	border-radius: 0px 0px 30px 30px;
	overflow: hidden;
	img {
		width: 100vw;
		height: 100%;
		object-fit: cover;
		opacity: 0.4;
	}
	@media (min-width: $mobile+1+px) {
		display: none;
	}
}
