@import "colors";

/* Body settings */
body {
	max-width: $page-max-width+px;
	margin: 0 auto; //REQ! if max-width
	padding-left: 68px;
	font-family: $font-1;
	font-size: $font-size-default;
	color: $color-3;
	background-color: $color-2;
	&._locked {overflow: hidden;} //REQ!

	// Variables for JS manipulations:
	--header-position: 0px; //REQ!
	--header-offset: 0px; //REQ!
	--header-height: 0px; //REQ!
	--footer-height: 0px; //REQ!
	--media-mobile: #{$mobile}; //REQ!
	--timer-menu: #{$timer-menu}; //REQ!
	--timer-modal: #{$timer-modal}; //REQ!
}
.window {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto 360px;
	.homepage-body & {
		grid-template-columns: auto;
	}
}
.container {
	width: 100%; //REQ!
	max-width: $container-width+px; //REQ!
	min-width: calc($page-min-width - (100vw - 100%)); //REQ!
	// margin: 0 auto; //REQ!
	padding-left: 68px;
	// padding: 0 67px 0 15px;
}

@import "_globs";

/* Modules */
// @import "modules/accordion_css";
// @import "modules/accordion_js";
@import "modules/footer";
// @import "modules/form";
@import "modules/header";
// @import "modules/input_checkbox";
// @import "modules/input_radio";
// @import "modules/input_range_colored";
// @import "modules/input_range_double";
// @import "modules/loadscreen";
// @import "modules/modal";
// @import "modules/pagination";
// @import "modules/popup";
// @import "modules/select";
// @import "modules/spoiler";
// @import "modules/tabs";
// @import "modules/up_button";
// @import "modules/video_player";

/* Main content */
.main {
	// margin-top: calc(var(--header-offset) + var(--header-height)); //REQ! if header 'position' is 'fixed' or 'absolute'
	// min-height: calc(100vh - var(--header-offset) - var(--header-height) - var(--footer-height) - 1px); // makes footer sticky to bottom
	border-left: solid 1px $color-8;
	// Section margins Example:
	// &__section {
	// 	.page-home & {margin-top: 67px;}
	// 	.page-about & {margin-top: 10px;}
	// }
	&__homepage-content {}
	&__categories {
		margin-top: 90px;
	}
	&__features {
		.page-home & {margin-top: 66px;}
	}
	&__decor-triangle {
		position: absolute;
		top: 0;
		right: -240px;
		z-index: -1;
	}
}

.homepage-content {
	&__container {}
	h1 span {
		display: block;
	}
	&__top {
		font-size: 120px;
		font-weight: 300;
		letter-spacing: 0.03em;
	}
	&__bottom {
		font-size: 90px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.15em;
	}
	&__description {
		margin-top: 36px;
		max-width: 640px;
		font-size: 24px;
		line-height: 40px;
		letter-spacing: 0.05em;
		color: $color-10;
	}
	&__text-button-with-arrow {
		margin-top: 100px;
	}
}


.decor-triangle {
	width: 115.31531vh;
	max-width: calc(1.04 * 1080px);
	&__container {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 86.71875%;
		clip-path: polygon(0 100%, 50% 0, 100% 100%);
		background: $gradient-3;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.2;
	}
	&__inner {
		width: 50%;
		height: 45.94594%;
		position: absolute;
		bottom: 0;
		left: 25%;
		clip-path: polygon(0 100%, 50% 0, 100% 100%);
		&:before, &:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
		}
		&:before {
			z-index: 2;
			height: 46.667%;
			background-color: $color-2;
		}
		&:after {
			height: 100%;
			background-color: $color-4;
			opacity: 0.4;
		}
	}
}

.categories {
	// background-color: #ddd;
	&__container {}
	&__items {
		margin-top: 80px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		justify-content: center;
		align-items: center;
	}
	&__item, &__item:visited {
		height: 90px;
		padding: 0 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		font-size: 22px;
		letter-spacing: 0.03em;
		text-align: center;
		color: $color-2;
		background-color: $color-3;
		transition: background-color $timer-hover;
		&:hover {
			background-color: $color-5;
		}
	}
}

.features {
	&__container {
		max-width: 960px;
	}
	&__items {
		display: inline-flex;
		// justify-content: center;
		// align-items: flex-end;
	}
	&__item {
		// flex: 0 1 fit-content;
		// display: flex;
		// flex-direction: column;
		// justify-content: space-between;
		&:not(:last-child) {
			margin-right: 45px;
		}
	}
	&__item-img {
		width: 60px;
		height: 60px;
		img {
			width: 100%;
			height: 100%;
			// object-position: top;
			// position: relative;
			// top: 0;
		}
	}
	&__item-text {
		margin-top: 11px;
		height: 84px;
		width: auto;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.03em;
		color: $color-10;
	}
}
.sidebar {
	grid-column: 2;
	grid-row: 1 / span 3;
	// width: 360px;
	// height: 100%;
	background-color: $color-5;
}