$color-1: #000;
$color-2: #fff;
$color-3: #333;
$color-4: #02FEFF;
$color-5: #8500FF;
$color-6: #8D97A1;
$color-7: #EEF3F6;
$color-8: #E2E7EC;
$color-8: #7C00EE;

$gradient-1: linear-gradient(315deg, $color-5 17.29%, $color-4 83.91%);
$gradient-2: linear-gradient(0deg, $color-5 0%, $color-4 100%);
$gradient-3: linear-gradient(180deg, $color-5 0%, $color-4 100%);
