$color01: #000;
$color02: #fff;
$color03: #333;
$color04: #00fbaf; //#02FEFF;
$color05: #0f73a8; //#8500FF;
$color06: #8D97A1;
$color07: #EEF3F6;
$color08: #E2E7EC;
$color09: #454647; //#7C00EE;
$color10: #2B2A29;
$color11: #454647;
$color12: #fb0000;

$c01: $color01;
$c02: $color02;
$c03: #333;
$c04: $color04;
$c05: $color05;
$c06: $color06;
$c07: $color07;
$c08: $color08;
$c09: $color09;
$c10: $color10;
$c11: $color11;
$c12: $color12;

$gradient-1: linear-gradient(315deg, $color05 17.29%, $color04 83.91%);
$gradient-2: linear-gradient(0deg, $color05 0%, $color04 100%);
$gradient-3: linear-gradient(180deg, $color05 0%, $color04 100%);
$gradient-4: linear-gradient(-90deg, $color05 0%, $color04 100%);
$gradient-5: linear-gradient(0deg, $color05 20%, $color04 100%);
$gradient-6: linear-gradient(-60deg, $color05 20%, $color04 100%);

//#008040