@import "colors";


/* Body settings */
// html {
// 	max-width: 1920px;
// 	margin: 0 auto;
// }
body {
	// @media (max-width: $media-mobile+px) and (orientation: landscape) {
	// 	transform: rotate(90deg);
	// }

	width: 100%;
	// max-width: $page-max-width+px;
	max-width: 240vh;//240
	margin: 0 auto; //REQ! if max-width
	height: 1080px;
	max-height: 100vh;
	font-family: $font-1;
	font-size: $font-size-default;
	color: $color03;
	background-color: $color02;
	position: relative;
	display: grid;
	grid-template-columns: auto em(360);//360 + padding
	grid-template-rows: auto 1fr auto;
	&.page-home, &.page-404 {
		grid-template-columns: 100%;
	}
	&._locked {overflow: hidden;} //REQ!
	
	@media (min-width: $mobile+1+px) {
		font-size: calc(16 * 1 / 1080 * 100vmin);
	}
	@media (max-width: $mobile+px) {
		grid-template-columns: 100%;
		font-size: 10px;
	}
	@media (min-width: $mobile+1+px) {
		padding-left: 3.54%;//68px;
		@media (max-aspect-ratio: 6/4) {//6/4
			padding-left: 20px;
		}
		@media (min-aspect-ratio: 20/9) {
			max-width: 200vh;
			padding-left: em(68);
		}
		@media (max-aspect-ratio: 15/9) {
			grid-template-columns: auto em(250);
		}
	}

	// Variables for JS manipulations:
	--header-position: 0px; //REQ!
	--header-offset: 0px; //REQ!
	--header-height: 0px; //REQ!
	--footer-height: 0px; //REQ!
	--media-mobile: #{$mobile}; //REQ!
	--timer-menu: #{$timer-menu}; //REQ!
	--timer-modal: #{$timer-modal}; //REQ!
// }
	@media (min-width: $mobile+1+px) {
		&::-webkit-scrollbar {
			width: 0.4166vw;
		}
		&::-webkit-scrollbar-track {
			background: transparent;
		}
		&::-webkit-scrollbar-thumb {
			background: $color06;
		}
		scrollbar-width: thin;
		scrollbar-color: $color06 transparent;
	}
}
.container {
	width: 100%; //REQ!
	max-width: em(1380);//$container-width+px; //REQ!
	min-width: calc($page-min-width - (100vw - 100%)); //REQ!
	margin: 0 auto; //REQ!
	@media (min-width: $mobile+1+px) {
		padding-left: 3.68vw;//68px;
		@media (max-aspect-ratio: 6/4) {
			padding-left: 15px;
		}
		@media (min-aspect-ratio: 20/9) {
			max-width: 86%;
			padding-left: em(68);
		}
	}
	@media (max-width: $mobile+px) {
		padding: 0 30px;
	}
}


/* Global elements */
// .g-h1 {
// 	font-size: 40px;
// 	line-height: 3;
// 	text-align: center;
// }
.g-h2 {
	font-weight: 500;
	font-size: em(36);
	line-height: 1.53;
	letter-spacing: 0.03em;
	color: $color03;
	@media (max-width: $mobile+px) {
		font-size: 19px;
		line-height: 1.05;
	}
}
// .g-h3 {}
// .g-h4 {}
.g-text {
	font-size: em(24);
	line-height: 1.67;
	letter-spacing: 0.05em;
	@media (max-width: $media-mobile+px) {
		font-size: 10px;
		line-height: 1.4;
	}
}
// .g-button, .g-button:visited {}
// .g-link, .g-link:visited {}

// .rounded-button, .rounded-button:visited {
// 	display: inline-block;
// 	width: 260px;
// 	height: 50px;
// 	line-height: 50px;
// 	border-radius: 55px;
// 	text-align: center;
// 	text-transform: uppercase;
// 	font-weight: 700;
// 	font-size: 10px;
// 	letter-spacing: 0.25em;
// 	color: $color02;
// 	background-color: $color03;
// }

.text-button-simple {
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;//?
	height: em(90);
	background-color: $color03;
	&__text {
		font-size: em(22);
		font-weight: 700;
		text-align: center;
		letter-spacing: 0.03em;
		color: $color02;
		white-space: nowrap;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			bottom: -1px;
			left: 0;
			display: inline-block;
			width: 100%;
			height: 1px;
			background-color: transparent;
			transition: background-color $timer-hover;
		}
	}
	&:hover &__text:before {
		background-color: $color02;
	}
}

.text-button-with-arrow {
	font-size: 1em;
	// font-size: 16px;//22px;
	height: em(90);//4.091em;
	display: flex;//inline-flex
	background-color: transparent;
	// transition: background-color $timer-hover;
	// overflow: hidden;
	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 em(30);
		background-color: $color03;
		height: 100%;//
		span {
			position: relative;
			font-size: em(22);
			font-weight: 700;
			letter-spacing: 0.03em;
			color: $color02;
			white-space: nowrap;
			&:before {
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				display: inline-block;
				width: 100%;
				height: 1px;
				background-color: transparent;
				transition: background-color $timer-hover;
			}
		}
		@media (max-width: $mobile+px) {
			.modal & {
				padding: 0 10px;
			}
		}
	}
	&__arrow {
		flex: 0 0 auto;
		width: em(90);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color02;
		color: $color03;
		border: solid 1px $color03;
		// transition: color $timer-hover;
	}
	&:hover &__text span:before {
		background-color: $color02;
	}
	@media (min-width: $media-modal+1+px) {
		&:hover {
			background-color: $color03;
		}
		&:hover &__arrow {
			background-color: $color03;
			color: $color02;
		}
	}
	@media (max-width: $media-modal+px) {
		display: flex;
		// width: calc(100% - 60px);
		justify-content: center;
		width: 100%;
		max-width: 260px;
		height: 50px;
		border-radius: 45px;
		margin-left: auto;
		margin-right: auto;
		&__text {
			border-radius: 45px;
			// padding: 0 6px;
			span {
				// font-weight: 500;
				font-size: 10px;
				letter-spacing: 0.25em;
				text-transform: uppercase;
				margin-top: 2px;
			}
		}
		&__arrow {
			width: 50px;
			height: 50px;
			margin-left: 11px;
			border-radius: 50%;
			i:before {
				font-size: 9px;
			}
		}
	}
}

.feedback-button, .feedback-button:visited,
.feedback-button--clipped, .feedback-button--clipped:visited {
	display: inline-block;
	width: em(184);
	height: em(50);
	background-color: $color03;
	color: $color02;
	font-weight: 700;
	font-size: em(15);
	line-height: em(50);
	letter-spacing: 0.1em;
	text-align: center;
	transition: background-color $timer-hover, color $timer-hover;
	&:hover {
		background-color: $color04;
		color: $color03;
	}
}
.feedback-button--clipped, .feedback-button--clipped:visited {
	clip-path: polygon(0 0, 100% 0, 100% 100%, em(28) 100%);
	padding-left: em(28);
}

.mail-button, .mail-button:visited {
	display: inline-block;
	width: 260px;
	height: 50px;
	line-height: 50px;
	border: 1px solid $color04;
	border-radius: 30px;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	color: $color04;
}

.svg-templates {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}
#svg-play-button-shape {transform: scale(0.003893, 0.00572);}
// #svg-decor-shape {transform: scale(0.001,77734375, 0.001);}

.socials {
	display: flex;
	justify-content: space-between;
	@media (max-width: $mobile+px) {
		font-size: 16px;
	}
	&--vertical {
		flex-direction: column;
		height: em(190);
	}
	&--vertical &__link, &--vertical &__link:visited {
		margin-left: 0 !important;
		font-size: 1.5684em;
	}
	span {
		font-size: 0;
	}
	&__link, &__link:visited {
		width: em(26);
		height: em(26);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: $color02;
		border: 1px solid $color03;
		border-radius: 50%;
		color: $color03;
		transition: all $timer-hover;
	}
	&__link:not(:first-child) {
		margin-left: 10px;
	}
	&:not(.menu-footer__socials) &__link {
		&:hover {
			background-color: $color03;
			color: $color02;
		}
	}
}

i {
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon-vk {
	&:before {
		margin-top: 5%;//em(2);
		font-size: em(8);
	}
	&.colored-icon {
		background-color: #0077FF;
		&:before {
			margin-top: 10%;
			// margin-left: 1%;
			font-size: em(13);
		}
	}
}
.icon-vc {
	&:before {
		margin-top: 1%;//em(1);
		font-size: em(11);
	}
}
.icon-telegram {
	&:before {
		// margin: em(1) em(2) 0 0;
		margin-top: 10%;
		margin-left: -1%;
		font-size: em(12);
	}
	&.colored-icon {
		background-color: #27A6E5;
		&:before {
			margin-top: 5%;
			// margin-left: -1%;
			font-size: em(17);
		}
	}
}
.icon-zen {
	&:before {
		margin-top: 2%;//em(1.5);
		font-size: em(14);
	}
}
.icon-whatsapp {
	&:before {
		margin-top: 5%;//em(2);
		font-size: em(12);
	}
	&.colored-icon {
		background-color: #48C95F;
		&:before {
			margin-top: 2%;
			margin-left: 2%;
			font-size: em(19);
		}
	}
}
.icon-viber {
	&:before {
		margin-top: 26%;//em(2);
		font-size: em(13);
	}
	&.colored-icon {
		background-color: #7C509A;
		&:before {
			margin-top: 10%;
			margin-left: 2%;
			font-size: em(19);
		}
	}
}
.icon-phone {
	&.colored-icon {
		background-color: $color03;
		&:before {
			margin-top: 3%;
			margin-left: 3%;
			font-size: em(18);
		}
	}
}
.colored-icon {
	color: $color02;
}

.mobile-only {
	@media (min-width: $mobile+1+px) {
		display: none !important;
	}
}
.desktop-only {
	@media (max-width: $mobile+px) {
		display: none !important;
	}
}

.video-button {
	// font-size: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: em(132);
	height: em(90);
	position: relative;
	@media (max-width: $media-modal+px) {
		width: 73px;
		height: 50px;
	}
	span {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: inline-block;
		width: 100%;
		height: 100%;
		background: $gradient-2;
		clip-path: url("#svg-play-button-shape");
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
			height: 100%;
			background-color: transparent;
			transition: background-color $timer-hover;
		}
	}
	i:before {
		margin-left: 0.2em;
		font-size: 2.5em;
		color: $color02;
	}
	&:hover span:before {
		background-color: $color03;
	}
}

.currency {
	white-space: nowrap;
}
