// Mixins (@include)
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		@if $isLightBuild == true { 
			src: local($font_name),
			url('../fonts/#{$file_name}.ttf') format("truetype");
		}
		@else {
			src: local($font_name),
			url("../fonts/#{$file_name}.woff2") format("woff2"),
			url("../fonts/#{$file_name}.woff") format("woff"),
			url('../fonts/#{$file_name}.ttf') format("truetype");
		}
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@mixin text-nowrap() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@mixin text-max-lines($lines) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	overflow: hidden;
}
@function rem($px, $context: 16) {
	@return math.div($px, $context) * 1rem;
}
@function em($px, $context: 16) {
	@return math.div($px, $context) * 1em;
}
// @function vw-pct($base, $media) {
// 	@return calc($base / $media * 100vw);
// 	// example: width: vw-pct(300, $media-footer);
// }
@function resize-multiplier($base, $media, $multiplier: 1) {
	@return calc($base * $multiplier / $media * 100vw + $base * (1 - $multiplier) * 1px);
	// example: width: resize-multiplier(300, $media-footer, 0.8);
	// base - размер элемента на границе отсчета
	// media - граница отсчета
	// multiplier - значения от 0 до 1 - понижающие (замедляют ресайз), от 1 и выше - повышающие (ускоряют)
}
