/* Reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
	width: 100%;
}
h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: inherit;
}
:focus, :active {
	outline: none;
}
ul {
	list-style: none;
}
a, a:visited {
	text-decoration: none;
	color: inherit;
}
button, input, textarea {
	font-family: inherit;
}
button, input[type="submit"], input[type="reset"] {
	cursor: pointer;
}
input::-ms-clear { // remove default cross
	display: none;
}
input[type="number"] { // remove default arrows
	-moz-appearance: textfield;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}