@use "sass:math";
@import "light-build-option";
@import "reset";
@import "noscript";
@import "mixins";
@import "icons";

//////////////////////////////////////////////////

/* Fonts */
// Gilroy
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
@import "fontscript";
$font-1: Gilroy, Geneva, Arial, sans-serif;
// Fonts test
// h1 {
// 	font-family: $font-1;
// 	font-weight: 700;
// }

//////////////////////////////////////////////////

// Page sizes //
$font-size-default: 16px; //px
$page-min-width: 320px; //px
$page-max-width: 1920;
$container-base-width: 1370;
$container-padding: 0;
$container-width: $container-padding * 2 + $container-base-width;

//////////////////////////////////////////////////

// Media breakpoints // xs s m l xl
$desktop: 1920; // 1280 - 4k?
$tablet: 992; // 768 - 1280
$mobile: 768; // 280 - 768
$mobile-s: 480; // used for width and height
$media-desktop: $desktop;
$media-desktop2: 1030;
$media-desktop3: 1020;
$media-desktop-s: 1280;
$media-tablet: $tablet;
$media-mobile: $mobile;
$media-mobile-s: $mobile-s;
$media-mobile-s2: 362;

$media-header: $mobile;
$media-header2: $mobile-s;

$media-footer: $mobile;
$media-footer2: $mobile-s;
// $media-footer2: 448;

$media-modal: $mobile;
$media-modal2: $mobile-s;
// $media-modal2: 448;

$mobile-content-maxw: 480px;

$media-ratio: ratio(16, 9);
$media-ratio2: ratio(5, 4);
$media-ratio3: ratio(1, 1);
$media-ratio4: ratio(6, 4);
$media-ratio5: ratio(15, 9);
$media-ratio6: ratio(20, 9);
$media-ratio7: ratio(14, 9);
// $m-ratio-159

//////////////////////////////////////////////////

// Transitions //
$timer-hover: 0.15s;
$timer-menu: 0.4s;
$timer-modal: 0.7s;
$timer-select: 0.2s;
$timer-spoiler: 0.2s;
$timer-slider: 0.5s;
$timer-accordion: 0.3s;
$timer-tabs: 0.8s;
$timer-progress: 0.3s;
// $t-hover

//////////////////////////////////////////////////

@import "globs";

/* Modules */
// @import "modules/accordion_css";
// @import "modules/accordion_js";
@import "modules/footer";
@import "modules/form";
@import "modules/header";
@import "modules/input_checkbox";
@import "modules/input_radio";
// @import "modules/input_range_colored";
// @import "modules/input_range_double";
// @import "modules/loadscreen";
@import "modules/modal";
// @import "modules/pagination";
// @import "modules/popup";
@import "modules/select";
// @import "modules/spoiler";
// @import "modules/tabs";
// @import "modules/up_button";
@import "modules/video_player";

@import "main";
// @import "404";
@import "print";
