@import "../colors";

.footer {
	&__container {
		max-width: em(1020);
		height: em(60);
		display: flex;
		align-items: center;
		position: relative;
		z-index: -2;
		border-top: solid 1px $color-8;
	}
	&__copy, &__policy, &__policy:visited {
		display: inline-block;
		font-size: em(13);
		letter-spacing: 0.03em;
		color: $color-3;
	}
	&__policy {
		margin-left: em(60);
		border-bottom: 2px solid transparent;
		transition: all $timer-hover;
		&:hover {
			border-color: $color-4;
		}
	}
}