.footer {
	&__container {
		border-top: solid 1px $color-8;
	}
	&__copy, &__policy, &__policy:visited {
		display: inline-block;
		font-size: 13px;
		line-height: 60px;
		letter-spacing: 0.03em;
		color: $color-3;
	}
	&__policy {
		margin-left: 60px;
		&:hover {
			text-decoration: underline;
		}
	}
}
// доделать транзишен, переделать text-decoration на псевдо... длина полоски меньше