@import "../colors";

.header {
	// Set position absolute if header is static, else set fixed
	position: relative; //REQ!
	// position: absolute; //REQ!
	top: var(--header-position); //REQ!
	left: 0; //REQ!
	z-index: 49; //REQ!
	width: 100%; //REQ!
	max-width: em(1302);
	padding: 3.7vh 0 2vh 0;
	// font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	transition: background-color $timer-menu;
	@media (max-width: $media-header+px) {
		padding: 28px 0 22px 15px;
		.homepage-body & {
			background-image: linear-gradient(to top, transparent, $color03);
		}
	}
	.homepage-body & {
		max-width: 1920px;
		padding-right: em(30);
	}
	&._active {
		background-color: $color03;
	}
	&__print-address, &__print-address-qr {display: none;} //REQ!
}

.header-menu-turn-off-area {
	position: fixed; //REQ!
	top: calc(var(--header-height) + var(--header-position)); //REQ!
	left: 0; //REQ!
	z-index: -1; //REQ!
	width: 100vw; //REQ!
	height: calc(100vh - var(--header-height) - var(--header-position)); //REQ!
	background-color: rgba(51, 51, 51, 0.7);
	backdrop-filter: blur(2px);
	cursor: pointer;
	opacity: 0; //REQ!
	visibility: hidden; //REQ!
	transition: opacity $timer-menu, visibility $timer-menu;
	&._active {
		opacity: 1;
		visibility: visible;
	}
}

.header-menu-open-btn {
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	cursor: pointer; //REQ!
	user-select: none; //REQ!
	position: relative;
	@media (min-width: $media-header+1+px) {
		display: none; //REQ!
	}
	.homepage-body & {
		color: $color02;
	}
}
.header-menu-close-btn {
	position: absolute;
	top: calc(50% - 18px);
	left: calc(50% - 18px);
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: $color11;
	color: $color02;
	font-size: 16px;
	cursor: pointer; //REQ!
	user-select: none; //REQ!
	visibility: hidden;
	opacity: 0;
	transition: visibility $timer-menu, opacity $timer-menu;
	.header._active & {
		visibility: visible;
		opacity: 1;
	}
	@media (min-width: $media-header+1+px) {
		display: none; //REQ!
	}
}

.header-menu-hide-wrapper {
	position: relative;
	// background-color: darkslategrey;
	flex-grow: 1;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	// max-width: 890px;
	@media (max-width: $media-header+px) {
		flex-direction: column;
		position: fixed; //REQ!
		top: calc(var(--header-height) + var(--header-position)); //REQ! if relative to header
		right: 0;
		// width: 400px;
		height: calc(100% - var(--header-height) - var(--header-position)); //REQ! if relative to header
		background-color: $color03;
		visibility: hidden;
		opacity: 0;
		transition: visibility $timer-menu, opacity $timer-menu;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: $color06 $color11;
		&::-webkit-scrollbar {
			width: 3px;
		}
		&::-webkit-scrollbar-track {
			background: $color11;
			// border-radius: 3px;
		}
		&::-webkit-scrollbar-thumb {
			background: $color06;
			// border-radius: 3px;
		}
		&._active {
			visibility: visible;
			opacity: 1;
		}
	}
	@media (max-width: $media-header2+px) {
		width: 100%;
	}
}

.header-level {
	@media (max-width: $media-header+px) {
		&:not(.header-level--mobile) {
			width: 260px;
			margin: 0 9.375vw;//30
			border-top: 1px solid $color11;
		}
	}
	&--mobile {
		margin-bottom: em(3);
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $media-header+px) {
			width: 100%;
		}
	}
	&--top {
		@media (min-width: $media-header+1+px) {
			width: 100%;
			max-width: em(812);
			margin: 0 em(20) em(3);
			display: flex;
			justify-content: flex-end;
		}
		@media (max-width: $media-header+px) {
			flex-grow: 1;
		}
	}
	&--middle {
		margin-left: em(200);
		position: relative;
		@media (max-width: $media-header+px) {
			display: none;
		}
		.socials {
			position: absolute;
			right: 0;
			top: calc(100% + em(15));
			&:not(.homepage-body &) {
				display: none;
			}
		}
	}
	&--bottom {
		display: flex;
		align-items: center;
		padding: 3.95vh 0;
	}
	&--footer {
	}
	@media (min-width: $media-header+1+px) {
		&--bottom, &--footer {
			display: none;
		}
	}
	&__logo {
	}
	&__header-menu {
	}
}

.logo {
	font-size: em(19);
	// @media (max-width: $desktop+px) {
	// 	font-size: resize-multiplier(19, $desktop, 0.6);
	// }
	@media (max-width: $media-header+px) {
		font-size: 14px;
	}
	&__link {
		display: flex;
		flex-direction: column;
		position: relative;
		// background-color: yellow;
		padding-left: em(35);
	}
	&__text {
		margin-left: em(10);
		font-size: em(24);
		line-height: 1;
		font-weight: 300;
		transition: color $timer-menu;
		.header._active & {
			color: $color02;
		}	
		@media (max-width: $mobile+px) {
			.homepage-body & {
				color: $color02;
			}
		}
	}
	&__text-colored {
		font-weight: 800;
		font-size: em(28);
		line-height: 1;
		letter-spacing: 0.25em;
		background: $gradient-2;
		background-clip: text;
		color: transparent;
	}
	&__bottom-text {
		position: absolute;
		bottom: em(-23);
		left: 0;
		white-space: nowrap;
		font-weight: 300;
		font-size: em(9);
		letter-spacing: 0.08em;
		transition: color $timer-menu;
		.header._active & {
			color: $color02;
		}	
		@media (max-width: $mobile+px) {
			.homepage-body & {
				color: $color02;
			}
		}
	}
	// &__up {
	// 	display: inline-block;
	// 	position: absolute;
	// 	bottom: em(3.5);
	// 	left: em(-11);
	// 	width: em(42);
	// 	height: em(58);
	// 	background: linear-gradient(to top, #B05CFF, $color05 50%, $color05);
	// 	clip-path: polygon(0 51%, 51% 0, 100% 51%, 72% 51%, 72% 100%, 28% 100%, 28% 51%);
	// 	filter: drop-shadow(1px 1px 1px $color02);
	// 	&:before {
	// 		content: '';
	// 		position: absolute;
	// 		top: em(15);
	// 		left: 0;
	// 		display: inline-block;
	// 		width: 100%;
	// 		height: em(15);
	// 		background: linear-gradient(to right, $color02, $color02 40%, $color04 40%, $color04);
	// 	}
	// }
	&__up {
		position: absolute;
		bottom: em(3.5);
		left: em(-11);
		display: flex;
		flex-direction: column;
		align-items: center;
		&:before {
			content: '';
			width: em(20);
			height: em(15);
			background-color: $color05;
			clip-path: polygon(0 100%, 50% 0, 100% 100%);
		}
		i {
			width: em(46);
			height: em(20);
			background-color: $color04;
			clip-path: polygon(40% 100%, 40% 0, 71.5% 0, 100% 100%);
		}
		&:after {
			content: '';
			width: em(24);
			height: em(30);
			background: linear-gradient(to top, #B05CFF, $color05);
		}
	}
	&__line {
		position: absolute;
		bottom: em(3.3);
		right: em(-10);
		display: inline-block;
		width: em(2);
		height: em(41.2);
		background-image: linear-gradient(to bottom, $color05 em(2), transparent em(2), transparent em(4), $color05 em(4), $color05 em(6), transparent em(6), transparent em(8), $color05 em(8), $color05 em(10), transparent em(10), transparent em(12), $color05 em(12), $color05 em(14), transparent em(14), transparent em(16), $color05 em(16));
	}
}

.header-menu {
	height: 100%;
	max-height: 500px;
	// background-color: #fff;
	@media (max-width: $media-header+px) {
		padding: 4vh 0 4vh 30px;
		// Mobile landscape screen apadtive
		@media (max-height: 550px) {
			padding: 1vh 0 1vh 30px;
		}
	}
	&__items {
		height: 100%;
		display: inline-flex;
		justify-content: flex-end;
		@media (max-width: $media-header+px) {
			max-height: 100%;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&__item {
		@media (min-width: $media-header+1+px) {
			position: relative;
			&:not(:first-child) {
				margin-left: em(105);
			}
		}
	}
	&__link, &__link:visited {
		display: inline-block;
		position: relative;
		font-size: em(20);
		letter-spacing: 0.1em;
		white-space: nowrap;
		line-height: 1.3;
		transition: all $timer-hover;
		// @media (max-width: $desktop+px) {
		// 	font-size: resize-multiplier(20, $desktop, 0.4);
		// }
		@media (min-width: $media-header+1+px) {
			text-transform: lowercase;
			font-weight: 700;
		}
		@media (max-width: $media-header+px) {
			font-size: 12px;
			line-height: 3;
			color: $color02;
		}
	}
	&__link {
		@media (min-width: $media-header+1+px) {
			&:before {
				content: '';
				position: absolute;
				bottom: em(-3);
				left: em(-2);
				display: inline-block;
				width: calc(100% + em(4));
				height: 0;
				background-color: $color04;
				z-index: -1;
				transition: height $timer-hover;
			}
			&:hover:before {
				height: em(14);
			}
		}
	}
}

.this-page, .this-page:visited {
	pointer-events: none;
	@media (max-width: $media-header+px) {
		font-weight: 700;
		color: $color05;
	}
}

.menu-footer{
	font-size: 16px;
	max-width: 260px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color: $color02;
	padding: 2.24vh 0px;//17
	& > *:nth-child(odd) {
		margin-right: 30%;
	}
	&__copy {
		font-weight: 500;
		font-size: 8px;
	}
	&__socials {
		margin-bottom: 2.24vh;//17
	}
	&__policy {
		font-weight: 300;
		font-size: 6px;
	}
	.socials {
		&__link, &__link:visited {
			border: none;
			background-color: $color11;
			color: $color02;
		}
	}
}
