@import "../colors";

.header {
	// background-color: lime !important;
	// Set position absolute if header is static, else set fixed
	position: relative; //REQ!
	// position: absolute; //REQ!
	// position: fixed; //REQ!
	top: var(--header-position); //REQ!
	left: 0; //REQ!
	z-index: 49; //REQ!
	width: 100%; //REQ!
	min-width: calc($page-min-width - (100vw - 100%)); //REQ!
	// max-width: em(1370);
	padding: 3.7vh 0 2vh 0;
	// font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	transition: background-color $timer-menu;
	@media (min-width: $media-header+1+px) {
		.page-home & {
			// max-width: 1920px;
			padding-right: em(30);
		}
	}
	@media (max-width: $media-header+px) {
		padding: 28px 10px 22px 15px;
	}
	@media (max-width: $media-header2+px) {
		padding: 18px 10px 17px 15px;
	}
	&._active {
		background-color: $color03;
	}
	&._active-modal-z { // class for modals on mobile screens
		@media (max-width: $mobile+px) {
			z-index: 899;
		}
	}
	&._active-modal-transform .logo { // class for modals on mobile screens
		@media (max-width: $mobile+px) {
			transition: transform $timer-modal;
			transform: translateX(-320px);
		}
	}
	&__print-address, &__print-address-qr {display: none;} //REQ!
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		opacity: 1;
		transition: opacity $timer-modal;
		@media (max-width: $media-header+px) {
			background-image: linear-gradient(to top, transparent, $color03);
			.no-background & {
				background-image: none;
			}
			._active-modal-light & {//, ._active-modal-dark & {
				opacity: 0;
			}
		}
	}
}

.header-menu-turn-off-area {
	position: fixed; //REQ!
	// top: calc(var(--header-height) + var(--header-position)); //REQ!
	top: 0;
	left: 0; //REQ!
	z-index: -1; //REQ!
	width: 100vw; //REQ!
	// height: calc(100vh - var(--header-height) - var(--header-position)); //REQ!
	height: 100vh;
	background-color: rgba(51, 51, 51, 0.7);
	// backdrop-filter: blur(2px);
	cursor: pointer;
	opacity: 0; //REQ!
	visibility: hidden; //REQ!
	transition: opacity $timer-menu, visibility $timer-menu;
	&._active {
		opacity: 1;
		visibility: visible;
	}
}

.header-menu-open-btn {
	height: 100%;//50px
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 27px;
	cursor: pointer; //REQ!
	user-select: none; //REQ!
	position: relative;
	@media (min-width: $media-header+1+px) {
		display: none; //REQ!
	}
	@media (max-width: $media-header2+px) {
		font-size: 22px;
	}
	color: $color02;
	.no-background & {
		color: $color03;
	}	
	&._hidden, .page-404 & { // for modal
		opacity: 0;
		visibility: hidden;
	}
}
.header-menu-close-btn {
	position: absolute;
	// top: calc(50% - 18px);
	// left: calc(50% - 18px);
	top: 0;
	left: 0;
	// width: 36px;
	// height: 36px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	cursor: pointer; //REQ!
	user-select: none; //REQ!
	visibility: hidden;
	opacity: 0;
	transition: visibility $timer-menu, opacity $timer-menu;
	&:before {
		content: '';
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background-color: $color11;
		transition: background-color $timer-modal;
	}
	i {
		position: absolute;
		top: calc(50% - 18px);
		left: calc(50% - 18px);
		width: 36px;
		height: 36px;
		&:before {
			font-size: 13px;
			margin-right: 1px;
			color: $color02;
			transition: color $timer-modal;
		}
	}
	&._active {
		visibility: visible;
		opacity: 1;
	}
	._active-modal-light & {
		&:before {
			background-color: $color07;
		}
		i:before {
			color: $color06;
		}
	}
	@media (min-width: $media-header+1+px) {
		display: none; //REQ!
	}
}

.header-menu-hide-wrapper {
	position: relative;
	// background-color: darkslategrey;
	flex-grow: 1;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	// max-width: 890px;
	@media (min-width: $media-header+1+px) {
		padding-bottom: em(18);
	}
	@media (max-width: $media-header+px) {
		flex-direction: column;
		position: fixed; //REQ!
		top: calc(var(--header-height) + var(--header-position)); //REQ! if relative to header
		right: 0;
		// width: 400px;
		height: calc(100vh - var(--header-height) - var(--header-position)); //REQ! if relative to header
		// 100% - changed to 100vh for firefox
		background-color: $color03;
		visibility: hidden;
		opacity: 0;
		transition: visibility $timer-menu, opacity $timer-menu;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: $color06 $color11;
		&::-webkit-scrollbar {
			width: 3px;
		}
		&::-webkit-scrollbar-track {
			background: $color11;
			// border-radius: 3px;
		}
		&::-webkit-scrollbar-thumb {
			background: $color06;
			// border-radius: 3px;
		}
		&._active {
			visibility: visible;
			opacity: 1;
		}
	}
	@media (max-width: $media-header2+px) {
		width: 100%;
		align-items: center;
	}
}

.header-level {
	@media (max-width: $media-header+px) {
		&:not(.header-level--mobile) {
			width: 260px;
			// margin: 0 9.375vw;//30
			margin: 0 30px;//30
			border-top: 1px solid $color11;
		}
	}
	&--mobile {
		margin-bottom: em(3);
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (min-width: $media-header+1+px) {
			margin-right: em(50);
		}
		@media (max-width: $media-header+px) {
			width: 100%;
		}
	}
	&--top {
		@media (min-width: $media-header+1+px) {
			flex-grow: 1;
			// flex: 0 1 em(728);
			// flex: 0 1 37.9166vw;
			// width: 100%;
			// max-width: em(812);
			margin: 0 0 em(3);
			display: flex;
			justify-content: center;
			// justify-content: flex-end;
		}
		@media (max-width: $media-header+px) {
			flex-grow: 1;
		}
	}
	&--middle {
		margin-left: em(44);
		// flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		// margin-left: em(200);
		position: relative;
		@media (max-width: $media-header+px) {
			display: none;
		}
		.page-404 & {
			display: none;
		}
		.socials {
			display: none;
			position: absolute;
			right: 0;
			top: calc(100% + em(15));
			.page-home & {
				display: flex;
			}
		}
	}
	&--bottom {
		display: flex;
		align-items: center;
		padding: 3.95vh 0;
	}
	&--footer {}
	@media (min-width: $media-header+1+px) {
		&--bottom, &--footer {
			display: none;
		}
	}
	&__logo {
		@media (max-width: $media-header+px) {
			margin-left: 8px;
		}
	}
	&__header-menu {}
	&__button-box {
		position: relative;
		width: 50px;
		height: 50px;
		// margin-right: 10px;
		@media (min-width: $media-header+1+px) {
			display: none;
		}
	}
}

.logo {
	font-size: em(19);
	@media (max-width: $media-header+px) {
		font-size: 14px;
	}
	@media (max-width: $media-header2+px) {
		font-size: 11px;
	}
	&__link {
		display: flex;
		flex-direction: column;
		position: relative;
		padding-left: em(35);
	}
	&__text {
		margin-left: em(10);
		font-size: em(24);
		line-height: 1;
		font-weight: 300;
		transition: color $timer-menu;
		.header._active & {
			color: $color02;
		}	
		@media (max-width: $mobile+px) {
			color: $color02;
			.header._active-modal-light &, .no-background & {
				color: $color03;
			}	
			.header._active-modal-dark & {
				color: $color02;
			}	
		}
	}
	&__text-colored {
		font-weight: 800;
		font-size: em(28);
		line-height: 1;
		letter-spacing: 0.25em;
		background: $gradient-2;
		background-clip: text;
		color: transparent;
		transition: color $timer-menu;
		.header._active & {
			color: $color02;
		}	
		@media (max-width: $media-header+px) {
			background: none;
			color: $color02;
			.header._active-modal-light &, .no-background & {
				color: $color03;
			}	
			.header._active-modal-dark & {
				color: $color02;
			}	
		}
	}
	&__bottom-text {
		position: absolute;
		bottom: em(-23);
		left: 0;
		white-space: nowrap;
		font-weight: 300;
		font-size: em(9);
		letter-spacing: 0.08em;
		transition: color $timer-menu;
		.header._active & {
			color: $color02;
		}	
		@media (max-width: $mobile+px) {
			color: $color02;
			.header._active-modal-light &, .no-background & {
				color: $color03;
			}	
			.header._active-modal-dark & {
				color: $color02;
			}	
		}
	}
	&__up {
		position: absolute;
		bottom: em(3.5);
		left: em(-11);
		display: flex;
		flex-direction: column;
		align-items: center;
		&:before {
			content: '';
			width: em(20);
			height: em(15);
			background-color: $color05;
			clip-path: polygon(0 100%, 50% 0, 100% 100%);
		}
		i {
			width: em(46);
			height: em(20);
			background-color: $color04;
			clip-path: polygon(40% 100%, 40% 0, 71.5% 0, 100% 100%);
		}
		&:after {
			content: '';
			width: em(24);
			height: em(30);
			background: linear-gradient(to top, #8080ff, $color05);//#B05CFF
		}
	}
	&__line {
		--line-color: #{$color05};
		position: absolute;
		bottom: em(3.3);
		right: em(-10);
		display: inline-block;
		width: em(2);
		height: em(41.2);
		background-image: linear-gradient(to bottom, var(--line-color) em(2), transparent em(2), transparent em(4), var(--line-color) em(4), var(--line-color) em(6), transparent em(6), transparent em(8), var(--line-color) em(8), var(--line-color) em(10), transparent em(10), transparent em(12), var(--line-color) em(12), var(--line-color) em(14), transparent em(14), transparent em(16), var(--line-color) em(16));
		// opacity: 1;
		// transition: opacity $timer-modal;
		@media (max-width: $media-header+px) {
			--line-color: #{$color08};
			// .header._active-modal-light & {
			// 	opacity: 0;
			// }	
		}
	}
}

.header-menu {
	height: 100%;
	max-height: 500px;
	// background-color: #fff;
	@media (max-width: $media-header+px) {
		padding: 4vh 0 4vh 30px;
		// Mobile landscape screen apadtive
		@media (max-height: 550px) {
			padding: 1vh 0 1vh 30px;
		}
	}
	&__items {
		height: 100%;
		display: inline-flex;
		justify-content: flex-end;
		@media (max-width: $media-header+px) {
			max-height: 100%;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&__item {
		@media (min-width: $media-header+1+px) {
			position: relative;
			&:not(:first-child) {
				// margin-left: em(105);
				margin-left: 5.46875vw;
			}
		}
	}
	&__link, &__link:visited {
		display: inline-block;
		position: relative;
		font-size: em(20);
		letter-spacing: 0.1em;
		white-space: nowrap;
		line-height: 1.3;
		transition: all $timer-hover;
		// @media (max-width: $desktop+px) {
		// 	font-size: resize-multiplier(20, $desktop, 0.4);
		// }
		@media (min-width: $media-header+1+px) {
			text-transform: lowercase;
			font-weight: 700;
		}
		@media (max-width: $media-header+px) {
			font-size: 12px;
			line-height: 3;
			color: $color02;
		}
	}
	&__link {
		@media (min-width: $media-header+1+px) {
			&:before {
				content: '';
				position: absolute;
				bottom: em(-3);
				left: em(-2);
				display: inline-block;
				width: calc(100% + em(4));
				height: 0;
				background-color: $color04;
				z-index: -1;
				transition: height $timer-hover;
			}
			&:hover:before {
				height: em(14);
			}
			&.this-page:before {
				height: em(2);
			}
		}
	}
}

.this-page, .this-page:visited {
	pointer-events: none;
	@media (max-width: $media-header+px) {
		font-weight: 700;
		color: $color04;//5
	}
}

.menu-footer{
	font-size: 16px;
	max-width: 260px;
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-between;
	align-items: center;
	color: $color02;
	padding: 2.24vh 0px;//17
	& > *:nth-child(even) {
		justify-self: end;
	}
	&__copy {
		font-weight: 500;
		font-size: 8px;
	}
	&__socials {
		// margin-bottom: 2.24vh;//17
	}
	&__policy {
		margin-top: 2.24vh;//17
		font-weight: 300;
		font-size: 6px;
	}
	.socials {
		&__link, &__link:visited {
			border: none;
			background-color: $color11;
			color: $color02;
		}
	}
}
