.checkbox {
	input {
		display: none;
		&:checked + label .label-box i {
			&:before {opacity: 1;}
		}
	}
	label {
		max-width: em(390);
		display: inline-flex;
		align-items: center;
	}
	.label-box {
		width: em(20);
		height: em(20);
		position: relative;
		border-radius: 50%;
		border: solid em(1) $color06;
		cursor: pointer;
		i {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		i:before {
			margin-top: em(11);
			font-size: em(8);
			opacity: 0;
			transition: all $timer-hover;
		}
	}
	.label-text {
		margin-left: em(25);
		// white-space: nowrap;
		font-size: em(10);
		line-height: 1.8;
		letter-spacing: 0.05em;
		* {
			display: block;
		}
	}
	.policy-link {
		color: $color05;
	}
}
