.radio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	&--messengers {
		max-width: em(630);
		display: grid;
		grid-template-columns: repeat(2, auto);
		justify-content: space-between;
		grid-row-gap: em(40);
	}
	@media (max-width: $media-modal+px) {
		height: 100%;
		justify-content: space-between;
		&--messengers {
			grid-row-gap: 10px;
			grid-column-gap: 10px;
		}
	}
	input {
		display: none;
		&:checked + label .label-box {
			&:after {
				opacity: 1;
			}
			&--style2 {
				border-color: $color01;
			}
			.consult-form &--style2:after {
				background-color: $color01;
			}
		}
	}
	label {
		display: inline-flex;
		align-items: center;
		// column-gap: 5px;
		&:not(:last-child) {
			margin-bottom: em(15);
		}
	}
	.label-text {
		margin-left: em(40);
		white-space: nowrap;
		font-size: em(20);
		line-height: 1;
		letter-spacing: 0.05em;
		color: $color10;
		@media (max-width: $media-modal+px) {
			font-size: 13px;
			margin-left: 18px;
			white-space: normal;
		}
	}
	.label-box {
		flex-shrink: 0;
		width: em(60);
		height: em(60);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: dashed 1px $color01;
		cursor: pointer;
		transition: border-color $timer-hover;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			width: em(30);
			height: em(30);
			background: $gradient-1;
			border-radius: 50%;
			transition: all $timer-hover;
			opacity: 0;
			flex-shrink: 0;
		}
		* {
			flex-shrink: 0;
		}
		&--style2 {
			border-color: transparent;
			&:after {
				width: 0;
				height: 0;
			}
			i {
				width: em(40);
				height: em(40);
				border-radius: 50%;
			}
			@media (max-width: $media-modal+px) {
				width: 50px;
				height: 50px;
				i {
					font-size: 16px;
				}
			}
		}
		@media (min-width: $media-modal+1+px) {
			.consult-form &--style2 {
				width: em(30);
				height: em(30);
				border-color: $color01;
				&:after {
					width: em(16);
					height: em(16);
					background: transparent;
				}
				i {
					position: relative;
					right: em(-65); // ?
					width: em(40);
					height: em(40);
					border-radius: 50%;
					cursor: default;
					&:before {
						font-size: em(19);
					}
				}
			}
		}
	}
}
