@import "../colors";

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.85);
	// backdrop-filter: blur(2px);
	opacity: 0;
	visibility: hidden;
	transition: opacity $timer-modal, visibility $timer-modal;
	&._visible {
		opacity: 1;
		visibility: visible;
	}
	&__window {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
		opacity: 0;
		visibility: hidden;
		transition: opacity $timer-modal, visibility $timer-modal;
		&._open {
			opacity: 1;
			visibility: visible;
		}
		@media (max-width: $mobile+px) {
			padding: 0;
		}
	}
	&__wrapper {
		position: relative;
		display: flex;
		width: em(1500);
		// max-width: 500px;
		height: em(825);
		max-height: 98%;
		padding: em(40) em(100) em(58) em(60);
		background-color: #fff;
		border-radius: em(30);
		// #modal-imgpreview & { // example for different windows
		// 	font-size: 0;
		// 	max-width: 1000px;
		// 	max-height: 700px;
		// 	background-color: transparent;
		// 	img {
		// 		width: 100%;
		// 		height: 100%;
		// 		object-fit: contain;
		// 	}
		// }
		#modal-confirm & {
			padding-right: em(60);
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		width: 100%;
		padding: 0 em(20) 0 0;
		overflow-y: auto;
		overflow-x: hidden;
		scrollbar-width: thin;
		scrollbar-color: $color07 transparent;
		&::-webkit-scrollbar {
			width: em(5);
		}
		&::-webkit-scrollbar-track {
			background: transparent;
			// border-radius: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background: $color07;
			// border-radius: 5px;
		}
		& > * {
			flex: 0 0 auto;
		}
	}
	&__close-button {
		position: absolute;
		top: em(30);
		right: em(30);
		width: em(60);
		height: em(60);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color07;
		border: solid em(1) transparent;
		border-radius: 50%;
		color: $color06;
		cursor: pointer;
		transition: all $timer-hover;
		&:hover {
			background-color: transparent;
			border-color: $color06;
		}
		i {
			margin-top: em(2);
			font-size: em(18);
		}
	}
	&__title {
		margin: 0 auto;
		display: flex;
		align-items: center;
		height: em(96);
		// overflow: hidden;//
		max-width: 70%;
		font-weight: 500;
		line-height: 1.6;
		text-align: center;
		letter-spacing: 0.03em;
		span {
			font-size: em(30);
		}
		&--bold {
			font-weight: 700;
			line-height: 1;
		}
	}
	&__title-slider {
		width: 100%;
		.swiper-slide {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__subtitle {
		margin: em(5) auto 0;
		max-width: em(680 * math.div(16, 24));
		font-size: em(24);
		line-height: 1.5;
		text-align: center;
		letter-spacing: 0.03em;
	}
	&__progressbar {
		margin: em(40) auto em(35);
		width: em(1000);
		height: em(20);
		background: linear-gradient(90deg, #E2E7EC 0%, rgba(226, 231, 236, 0.3) 100%);
		border: solid em(1) $color08;
		border-radius: em(10);
	}
	&__progressbar-inner {
		width: 25%;
		height: 100%;
		background: $gradient-4;
		border-radius: em(10);
		transition: width $timer-progress;
	}
	&__consult-form {
	}
	&__confirm-content {
		margin-top: em(40);
		// margin-left: em(47);
	}
	&__confirm-btn {
		flex-grow: 1;
		margin-top: em(20);
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
}

.consult-form {
	&__slider {
		height: 100%;
		.swiper-slide {
			display: grid;
			grid-template-columns: 1fr em(540);
			justify-content: space-between;
			// overflow: hidden;
		}
	}
	&__main {
		padding-left: 5px;
	}
	&__select {
		margin-top: em(23);
		margin-bottom: em(40);
	}
	&__input {
		margin-top: em(23);
		font-size: 1em;
		width: em(690);
		height: em(90);
		border-radius: 45px;
		background-color: $color07;
		box-shadow: inset 0 1000px 0 0 $color07;
		-webkit-text-fill-color: $color03;
		padding: 0 em(47);
		&::placeholder {
			color: $color06;
			-webkit-text-fill-color: $color06;
		}
	}
	&__aside {
		align-self: flex-end;
		// max-width: em(540);
		border-style: solid;
		border-left-width: 1px;
		border-image-source: repeating-linear-gradient(to bottom, $color01 0, $color01 2px, transparent 2px, transparent 4px);
		border-image-slice: 1;
		border-image-repeat: round;
	}
	&__aside-info-list {
	}
	&__bottom {
		max-width: em(1286);
		grid-column: span 2;
		margin-top: em(30);
		margin-bottom: 2px;
		padding-left: em(47);
		display: flex;
		justify-content: center;
		align-items: flex-end;
		& > *:not(:first-child) {
			margin-left: em(37);
		}
	}
	.text-button-with-arrow {
		&__text {
			width: em(319);
		}
	}
	&__radio {
		margin-top: em(20);
		margin-left: em(47);
		i {
			margin-left: em(30);
			width: em(40);
			height: em(40);
			border-radius: 50%;
			overflow: hidden;
			&:before {
				font-size: em(19);
			}
		}
		&.radio--messengers {
			margin-top: em(50);
		}
	}
	&__phone {
		width: em(390);
	}
	&__phone-title {
		font-size: em(20);
		line-height: 1;
		letter-spacing: 0.05em;
	}
	&__phone-input {
		margin-top: em(15);
		width: 100%;
		font-size: em(20);
		line-height: 1;
		letter-spacing: 0.05em;
		border-bottom: solid 1px $color03;
		padding-bottom: em(15);
		&::placeholder {
			color: $color06;
			-webkit-text-fill-color: $color06;
		}
		&__checkbox {
			
		}
	}
}

.aside-info-list {
	height: em(350);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: em(25);
	padding-left: em(97);
	&--small {
		height: em(300);
		justify-content: space-around;
	}
	&__item {
		position: relative;
		&:not(:last-child) {
			margin-bottom: em(20);
		}
	}
	&__item-icon {
		position: absolute;
		top: em(-13);
		left: em(-30);
		background: $gradient-1;
		background-clip: text;
		i {
			font-size: em(20);
			color: transparent;
		}
	}
	&__item-text {
		font-weight: 600;
		font-size: em(20);
		line-height: 1.5;
		letter-spacing: 0.05em;
		color: $color10;
		&--large {
			font-weight: 600;
			font-size: em(30);
			line-height: 1.33;
			text-align: center;
		}
	}
}

.modal-textbox {
	max-width: em(550);
	margin-left: em(47);
}
.modal-text {
	font-size: em(20);
	line-height: 1.5;
	letter-spacing: 0.05em;
	color: $color10;
	&--large {
		font-weight: 700;
		text-transform: uppercase;
	}
	&:not(:first-child) {
		margin-top: em(15);
	}
}

.confirm-content {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-column-gap: em(50);
	align-items: center;
	&__text {
		font-weight: 300;
		font-size: em(24);
		line-height: 1.5;
		letter-spacing: 0.03em;
	}
	&__video-player {
		// grid-column: 2;
		// grid-row: 1 / span 2;
		display: flex;
		justify-content: center;
		align-items: center;
		width: em(750);
		height: em(370);
		backdrop-filter: blur(7.5px);
		background: rgba(51, 51, 51, 0.6);
		border-radius: 5px;
	}
}
