@import "../colors";

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.85);
	// backdrop-filter: blur(2px);
	opacity: 0;
	visibility: hidden;
	transition: opacity $timer-modal, visibility $timer-modal;
	&._visible {
		opacity: 1;
		visibility: visible;
	}
	&__window {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
		opacity: 0;
		visibility: hidden;
		transition: opacity $timer-modal, visibility $timer-modal;
		&._open {
			opacity: 1;
			visibility: visible;
		}
		@media (max-width: $mobile+px) {
			padding: 0;
		}
	}
	&__wrapper {
		position: relative;
		display: flex;
		width: em(1500);
		// max-width: 500px;
		height: em(825);
		max-height: 96%;
		padding: em(40) em(100) em(60) em(60);
		background-color: #fff;
		border-radius: em(30);
		// #modal-imgpreview & { // example for different windows
		// 	font-size: 0;
		// 	max-width: 1000px;
		// 	max-height: 700px;
		// 	background-color: transparent;
		// 	img {
		// 		width: 100%;
		// 		height: 100%;
		// 		object-fit: contain;
		// 	}
		// }
	}
	&__content {
		width: 100%;
		padding: 0;
		overflow-y: auto;
		overflow-x: hidden;
		scrollbar-width: thin;
		scrollbar-color: $color08 transparent;
		&::-webkit-scrollbar {
			width: em(5);
		}
		&::-webkit-scrollbar-track {
			background: transparent;
			border-radius: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background: $color08;
			border-radius: 5px;
		}
		padding-right: em(20);
	}
	&__close-button {
		position: absolute;
		top: em(30);
		right: em(30);
		width: em(60);
		height: em(60);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color07;
		border: solid em(1) transparent;
		border-radius: 50%;
		color: $color06;
		cursor: pointer;
		transition: all $timer-hover;
		&:hover {
			background-color: transparent;
			border-color: $color06;
		}
		i {
			margin-top: em(2);
			font-size: em(18);
		}
	}
	&__title {
		margin: 0 auto;
		max-width: 70%;
		font-weight: 500;
		font-size: em(30);
		line-height: 1.6;
		text-align: center;
		letter-spacing: 0.03em;
		&--bold {
			font-weight: 700;
			line-height: 1;
		}
	}
	&__progressbar {
		margin: em(40) auto 0;
		width: em(1000);
		height: em(20);
		background: linear-gradient(90deg, #E2E7EC 0%, rgba(226, 231, 236, 0.3) 100%);
		border: solid em(1) $color08;
		border-radius: em(10);
	}
	&__progressbar-inner {
		width: 25%;
		height: 100%;
		background: $gradient-4;
		border-radius: em(10);
		transition: width $timer-progress;
	}
	&__consult-form {
	}
	&__text-button-with-arrow {
		margin: 0 auto;
	}
}

.consult-form {
	// height: 100%;
	// background-color: yellow;
	&__slider {
		height: 100%;
		margin-top: em(35);
		// background-color: orange;
	}
	&__wrapper {
		// background-color: lime;
	}
	&__slide {
		// background-color: #ccc;
		display: flex;
		justify-content: space-between;
	}
	&__main {
	}
	&__select {
		margin-top: em(14);
		margin-bottom: em(24);
	}
	&__input {
		margin-top: em(14);
		font-size: 1em;
		width: em(690);
		height: em(90);
		border-radius: 45px;
		background-color: $color07;
		box-shadow: inset 0 1000px 0 0 $color07;
		-webkit-text-fill-color: $color03;
		padding: 0 em(47);
		&::placeholder {
			color: $color06;
			-webkit-text-fill-color: $color06;
		}
	}
	&__aside {
		align-self: flex-end;
		max-width: em(520);
		border-style: solid;
		border-left-width: 1px;
		border-image-source: repeating-linear-gradient(to bottom, $color01 0, $color01 2px, transparent 2px, transparent 4px);
		border-image-slice: 1;
		border-image-repeat: repeat;
	}
	&__aside-info-list {
	}
}

.aside-info-list {
	padding-top: em(25);
	padding-left: em(77);
	&__item {
		position: relative;
		&:not(:last-child) {
			margin-bottom: em(90);
		}
	}
	&__item-icon {
		position: absolute;
		top: em(-13);
		left: em(-30);
		background: $gradient-1;
		background-clip: text;
		i {
			font-size: em(20);
			color: transparent;
		}
	}
	&__item-text {
		font-weight: 600;
		font-size: em(20);
		line-height: 1.5;
		letter-spacing: 0.05em;
		color: $color10;
	}
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

.modal-textbox {
	max-width: em(500);
	margin-left: em(47);
}
.modal-text {
	font-size: em(20);
	line-height: 1.5;
	letter-spacing: 0.05em;
}

