@import "../colors";

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	min-width: 320px;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.85);
	// backdrop-filter: blur(2px);
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	transition: opacity $timer-modal, visibility $timer-modal;
	&._visible {
		opacity: 1;
		visibility: visible;
	}
	&__window {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 1%;
		opacity: 0;
		visibility: hidden;
		transition: opacity $timer-modal, visibility $timer-modal;
		&._open {
			opacity: 1;
			visibility: visible;
		}
		@media (max-width: $media-modal+px) {
			padding: 0;
		}
		@media (min-width: $media-modal+1+px) {
			@media (max-aspect-ratio: $media-ratio2) {
				padding: 0;
			}
		}
	}
	&__wrapper {
		position: relative;
		display: flex;
		width: 100%;//
		max-width: em(1500);
		height: em(825);
		max-height: 98%;
		// padding: em(40) em(100) em(58) em(60);
		padding: em(40) em(20) em(58) em(60);
		background-color: $c02;
		border-radius: em(30);
		// #modal-confirm & {
		// 	padding-right: em(60);
		// }
		@media (min-width: $media-modal+1+px) {
			@media (max-aspect-ratio: $media-ratio2) {
				padding: em(40) 0 em(58) em(20);
			}
		}
		@media (max-width: $media-modal+px) {
			width: 100%;
			height: 100%;
			max-height: 100%;
			padding: 0;
			border-radius: 0;
			#modal-consult &, #modal-video-player & {
				background-color: $color03;
			}
			#modal-confirm & {
				padding-right: 0;
			}
		}
	}
	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		// padding: 0 em(20) 0 0;
		padding: 0 em(40) 0 0;
		overflow-y: auto;
		overflow-x: hidden;
		@media (min-width: $media-modal+1+px) {
			scrollbar-width: thin;
			scrollbar-color: $color07 transparent;
			&::-webkit-scrollbar {
				width: em(5);
			}
			&::-webkit-scrollbar-track {
				background: transparent;
				// border-radius: 5px;
			}
			&::-webkit-scrollbar-thumb {
				background: $color07;
				// border-radius: 5px;
			}
		}
		@media (max-width: $media-modal+px) {
			padding: var(--header-height) 0 0; //?
			position: relative;
			top: 100%;
			left: 0;
			transition: top $timer-modal;
		}
		& > * {
			flex: 0 0 auto;
		}
		#modal-video-player & {
			justify-content: center;
			align-items: center;
		}
	}
	&._visible &__content {
		@media (max-width: $media-modal+px) {
			top: 0;
		}
	}
	&__close-button {
		position: absolute;
		top: em(30);
		right: em(30);
		z-index: 2;
		width: em(60);
		height: em(60);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color07;
		border: solid em(1) transparent;
		border-radius: 50%;
		color: $color06;
		cursor: pointer;
		transition: all $timer-hover;
		&:hover {
			background-color: $c02;
			border-color: $color06;
		}
		i {
			margin-top: em(2);
			font-size: em(18);
		}
		@media (max-width: $media-modal+px) {
			display: none;
		}
	}
	&__title {
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		height: em(96);
		// overflow: hidden;//
		max-width: 70%;
		font-weight: 500;
		line-height: 1.6;
		text-align: center;
		letter-spacing: 0.03em;
		span {
			font-size: em(30);
		}
		&--bold {
			font-weight: 700;
			line-height: 1.4;
		}
		@media (max-width: $media-modal+px) {
			max-width: 100%;
			height: auto;
			padding: 0 30px;
			// font-weight: 400;
			span {
				font-size: 13px;
				line-height: 1.38;
			}
			#modal-consult & {
				color: $color02;
			}
		}
	}
	&__title-slider {
		width: 100%;
		.swiper-slide {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__subtitle {
		margin: em(5) auto 0;
		max-width: em(680 * math.div(16, 24));
		font-size: em(24);
		line-height: 1.5;
		text-align: center;
		letter-spacing: 0.03em;
		@media (max-width: $media-modal+px) {
			margin-top: 10px;
			font-size: 13px;
			line-height: 1.38;
			#modal-confirm & {
				padding: 10px 30px 20px 30px;
			}
		}
		@media (max-width: $media-modal2+px) {
			font-size: 12px;
		}
	}
	&__progressbar {
		margin: em(40) auto em(35);
		width: 90%;
		max-width: em(1000);
		height: em(20);
		background: linear-gradient(90deg, #E2E7EC 0%, rgba(226, 231, 236, 0.3) 100%);
		border: solid em(1) $color08;
		border-radius: em(10);
		@media (max-width: $media-modal+px) {
			width: calc(100% - 60px);
			height: 10px;
			margin: 10px auto 16px;
			background: linear-gradient(90deg, #333333 0%, #454647 100%);
			border: 1px solid rgba(226, 231, 236, 0.1);
		}
	}
	&__progressbar-inner {
		width: 25%;
		height: 100%;
		background: $gradient-4;
		border-radius: em(10);
		transition: width $timer-progress;
	}
	&__consult-form {
	}
	&__confirm-content {
		margin-top: em(60);//40
		// margin-left: em(47);
		@media (max-width: $media-modal+px) {
			margin-top: 0;
		}
	}
	&__confirm-btn {
		flex-grow: 1;
		margin-top: em(20);
		display: flex;
		justify-content: center;
		align-items: flex-end;
		@media (max-width: $media-modal+px) {
			padding: 0 30px 30px;
			margin: 0 auto;
			.text-button-with-arrow__arrow {
				display: none;
			}
		}
	}
	&__feedback-content {
		margin-top: em(50);
		@media (max-width: $media-modal+px) {
			margin-top: 20px;
		}
	}
	&__header-cover {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;
		width: 100%;
		height: var(--header-height);
		&--dark {
			background-color: $color03;
		}
		&--light {
			background-color: $color02;
		}
	}
	&__footer-clone {
		margin-top: -1px;
		background-color: $c02;
		flex-grow: 1;
		display: flex;
		align-items: flex-end;
		& > * {
			flex: 1 1 100%;
		}
	}
	&__call-slider, &__msg-slider, &__access-slider {
		width: 100%;
		@media (max-width: $media-modal+px) {
			max-width: $mobile-content-maxw;
			margin-left: auto;
			margin-right: auto;
		}
		.swiper-slide {
			&:nth-of-type(2) {
				display: flex;
				flex-direction: column;
				align-items: center;
				.modal-text {
					margin: 20px auto;
					// max-width: 100px;
					font-size: 9px;
					line-height: 1.33;
					text-align: center;
					letter-spacing: 0.03em;
				}
			}
			&:nth-of-type(2) .swiper-slide__main {
				// max-width: 180px;
				padding-bottom: em(10);
				width: 100%;
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				*:first-child {
					margin-bottom: em(15);
				}
				@media (max-width: $media-modal+px) {
					padding-bottom: 50px;
					*:first-child {
						margin-bottom: 10px;
					}
				}
			}
		}
		@media (max-width: $media-modal+px) {
			.swiper-slide {
				padding: 0 27px 15px;
				max-width: 480px;
			}
		}
	}
	.logo {
		margin: 0 auto;
		width: em(150);
		@media (max-width: $media-modal+px) {
			width: 130px;
		}
		&__text, &__text-colored {
			color: $color03;
		}
	}
	&__msg-slider {
	}
	&__video-player {
		// margin: 0 auto;
	}
	&__access-slider {
	}
	&__copyright-content {
		flex-grow: 1;
		justify-self: center;
		align-self: center;
	}
}










.consult-form {
	@media (max-width: $media-modal+px) {
		width: 100%;
		// height: 100%;
		flex-grow: 1;
		padding: 30px 27px 0 27px;
		border-radius: 30px 30px 0 0;
		background-color: $color02;
	}
	&__slider {
		height: 100%;
		// max-height: 380px;
		// background-color: yellow;
		@media (max-width: $media-modal+px) {
			margin-left: auto;
			margin-right: auto;
			max-height: 400px;
			max-width: 480px;
		}
		.swiper-slide {
			// background-color: thistle;
			display: grid;
			// grid-template-columns: 1fr em(600);//540
			grid-template-columns: 1fr em(1) 40%;
			grid-column-gap: em(30);
			justify-content: space-between;
			@media (max-width: $media-modal+px) {
				grid-template-columns: 100%;
				// max-width: 500px;
				padding: 0 3px; // select shadow
			}
		}
	}
	&__main {
		@media (min-width: $media-modal+1+px) {
			padding-left: 5px;
			padding-right: 5px;
			width: 100%;
			max-width: em(700);//690 + 5 + 5
		}
		@media (max-width: $media-modal+px) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&__select {
		margin-top: em(23);
		margin-bottom: em(40);
		@media (max-width: $media-modal+px) {
			margin: 15px 0 30px;
		}
	}
	&__input {
		margin-top: em(23);
		font-size: 1em;
		width: 100%;
		// width: em(690);
		height: em(90);
		border-radius: 45px;
		background-color: $color07;
		box-shadow: inset 0 1000px 0 0 $color07;
		-webkit-text-fill-color: $color03;
		padding: 0 em(47);
		&::placeholder {
			color: $color06;
			-webkit-text-fill-color: $color06;
		}
		@media (max-width: $media-modal+px) {
			margin: 15px 0 0;
			// width: calc(100% - 60px);
			width: 100%;
			height: 50px;
			padding: 0 22px;
			font-size: 13px;
		}
	}
	&__aside {
		justify-self: flex-end;
		align-self: center;//flex-end;
		margin-right: 17px;//
		// border-style: solid;
		// border-left-width: 1px;
		// border-image-source: repeating-linear-gradient(to bottom, $color01 0, $color01 2px, transparent 2px, transparent 4px);
		// border-image-slice: 1;
		// border-image-repeat: round;
		& > * {
			max-width: em(470);
		}
		@media (max-width: $media-modal+px) {
			display: none;
		}
	}
	&__aside-info-list {
		margin-top: em(25);
	}
	&__bottom {
		position: relative;
		// max-width: em(1286);
		margin-top: em(30);
		margin-bottom: 2px;
		margin-right: 17px;//
		padding-left: em(47);
		display: flex;
		justify-content: center;
		align-items: flex-end;
		@media (min-width: $media-modal+1+px) {
			grid-column: span 3;
			.last-slide & {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-column-gap: em(20);
				& > * {
					justify-self: center;
				}
			}
		}
		@media (max-width: $media-modal+px) {
			padding-left: 0;
			flex: 0 0 auto;
			display: block;
			align-self: end;
			margin-top: 0;
			margin-bottom: 30px;
			margin-right: 0;//auto;
			// margin-left: auto;
			// max-width: 260px;
		}
		.form-report {
			position: absolute;
			top: em(-7);
			left: 0;
			padding-left: em(47, 20);
			@media (max-width: $media-modal+px) {
				padding-left: 0;
				top: auto;
				bottom: -26px;
			}
		}
	}
	.last-slide .modal-text {
		margin-top: em(20);
	}
	.text-button-with-arrow {
		&__text {
			width: em(319);
			@media (max-width: $media-modal+px) {
				width: 100%;
			}
		}
		@media (max-width: $media-modal+px) {
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
	&__radio {
		margin-top: em(20);
		margin-left: em(47);
		@media (max-width: $media-modal+px) {
			margin-top: 5px;
			margin-left: 0;
		}
		&.radio--messengers {
			margin-top: em(50);
			grid-column-gap: em(16);
			@media (max-width: $media-modal+px) {
				margin-top: 20px;
				// height: 50px;
				font-size: 16px;
			}
			.label-text {
				margin-left: em(80);
				@media (max-width: $media-modal+px) {
					margin-left: 5px;
				}
			}
		}
	}
	&__checkbox label {
		@media (min-width: $media-modal+1+px) {
			max-width: em(390);
		}
	}
	&__user-contact-input {
		@media (max-width: $media-modal+px) {
			margin-top: 10px;
		}
	}
}

.aside-info-list {
	min-height: em(300);
	// height: em(350);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	// padding-top: em(25);
	// padding-left: em(97);
	// padding-left: em(107);
	// &--small {
	// 	height: em(300);
	// 	justify-content: space-around;
	// }
	&__item {
		position: relative;
		margin-left: em(40);
		&:not(:last-child) {
			margin-bottom: em(20);
		}
	}
	&__item-icon {
		position: absolute;
		top: em(-13);
		left: em(-30);
		background: $gradient-1;
		background-clip: text;
		i {
			font-size: em(20);
			color: transparent;
		}
	}
	&__item-text {
		font-weight: 600;
		font-size: em(20);
		line-height: 1.5;
		letter-spacing: 0.05em;
		color: $color10;
		&--large {
			font-weight: 600;
			font-size: em(30);
			line-height: 1.33;
			text-align: center;
		}
	}
}

.modal-textbox {
	max-width: em(550);
	margin-left: em(47);
	@media (max-width: $media-modal+px) {
		margin-left: 0;
	}
}
.modal-text {
	font-size: em(20);
	line-height: 1.5;
	letter-spacing: 0.05em;
	color: $color10;
	&--large {
		font-weight: 700;
		text-transform: uppercase;
	}
	&:not(:first-child) {
		margin-top: em(15);
	}
	@media (max-width: $media-modal+px) {
		font-size: 13px;
		line-height: 1.38;
	}
}
.modal-line {
	width: calc(100% - 60px);
	height: 1px;
	margin-left: 30px;
	// margin-right: 30px;
	border-top: solid 1px $color08;
}

.confirm-content {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-column-gap: em(50);
	align-items: center;
	@media (max-width: $media-modal+px) {
		background-color: $color02;
		grid-template-columns: 100%;
		padding: 0 30px 15px;
	}
	&__text {
		font-weight: 300;
		font-size: em(24);
		line-height: 1.5;
		letter-spacing: 0.03em;
		@media (max-width: $media-modal+px) {
			@include mobile-centered-block();
			font-size: 11px;
			line-height: 1.56;
			border-top: solid 1px $color08;
			padding-top: 19px;
		}
		@media (max-width: $media-modal2+px) {
			font-size: 9px;
		}
	}
	&__video-player-link {
		@media (max-width: $media-modal+px) {
			margin: 18px auto 0;
		}
	}
}
.video-player-link {
	display: block;
	position: relative;
	width: em(750);
	height: em(370);
	border-radius: 5px;
	overflow: hidden;
	@media (max-width: $media-modal+px) {
		width: 100%;
		max-width: 380px;//480
		height: auto;
		border-radius: 10px;
	}
	&__container {
		@media (max-width: $media-modal+px) {
			width: 100%;
			padding-bottom: 55.7692%;
		}
	}
	&__back-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		backdrop-filter: blur(4px);
		background: rgba(51, 51, 51, 0.6);
	}
	&__info {
		position: absolute;
		top: em(40);
		left: em(45);
		font-size: em(16);
		letter-spacing: 0.03em;
		color: $color02;
		@media (max-width: $media-modal+px) {
			top: 7%;
			left: 5%;
			font-size: 10px;
		}
	}
	&__video-button {
	}
}

.user-contact-input {
	width: 100%;
	@media (min-width: $media-modal+1+px) {
		max-width: em(390);
		#modal-access & {
			max-width: em(999);
		}
	}
	&__title {
		font-size: em(20);
		line-height: 1;
		letter-spacing: 0.05em;
		@media (max-width: $media-modal+px) {
			font-size: 12px;
		}
	}
	&__input {
		margin-top: em(15);
		width: 100%;
		font-size: em(20);
		line-height: 1;
		letter-spacing: 0.05em;
		border-bottom: solid 1px $color03;
		padding-bottom: em(15);
		&::placeholder {
			color: $color06;
			-webkit-text-fill-color: $color06;
		}
		&._error {
			border-color: $color12;
		}
		@media (max-width: $media-modal+px) {
			font-size: 12px;
		}
	}
}

.feedback-content {
	// background-color: #ccc;//
	width: 100%;
	// max-width: em(1016);
	display: grid;
	// grid-template-columns: auto em(1) auto;
	grid-template-columns: 1fr em(1) 40%;
	grid-column-gap: em(30);
	@media (max-width: $media-modal+px) {
		grid-template-columns: 100%;
	}
	&__main {
		position: relative;
		padding-left: em(2);
		margin-left: em(-2);
		width: 100%;
		max-width: em(550);//493
		justify-self: center;
		@media (max-width: $media-modal+px) {
			padding-left: 3px;
			padding-right: 3px;
			margin-left: 0;
			max-width: 700px;
		}
	}
	&__contact-method {
		height: 100%;
		display: flex;
		justify-content: center;
		.radio {
			height: 100%;
			justify-content: space-between;
		}
		@media (max-width: $media-modal+px) {
			border: none;
			.radio {
				margin-top: 12px;
				flex-direction: row;
				width: 100%;
				.label-box {
					font-size: 14px;
				}
				.label-text {
					display: none;
				}
			}
		}
	}
	.modal-text {
		@media (min-width: $media-modal+1+px) {
			grid-column: span 3;
		}
		@media (max-width: $media-modal+px) {
			font-size: 12px;
		}
		// @media (max-width: $media-modal2+px) {
		// 	font-size: 9px;
		// }
	}
	&__bottom {
		width: 100%;
		max-width: em(550);//493
		justify-self: center;
		@media (min-width: $media-modal+1+px) {
			grid-column: span 2;
			margin-top: em(60);
		}
		@media (max-width: $media-modal+px) {
			margin-top: 10px;
			margin-bottom: 8px;
			max-width: 700px;
		}
	}
	&__checkbox {
	}
	&__time-select {
		margin-top: em(30);
	}
	&__user-contact-input {
		width: 100%;
		margin-top: em(30);
	}
	.text-button-simple {
		margin-top: em(30);
		@media (max-width: $media-modal+px) {
			margin-top: 20px;
			height: 50px;
			border-radius: 45px;
			span {
				font-size: 10px;
				letter-spacing: 0.2em;
				text-transform: uppercase;
			}
		}
	}
	&__textarea {
		margin-top: em(18);
		position: relative;
		width: 100%;
		height: em(200);
		@media (min-width: $media-modal+1+px) {
			grid-column: span 3;
		}
		@media (max-width: $media-modal+px) {
			margin-top: 15px;
			height: 120px;
		}
		textarea {
			width: 100%;
			height: 100%;
			padding: em(10) em(15);
			border: solid 1px transparent;
			border-radius: 5px;
			background-color: $color08;
			color: $color10;
			resize: none;
			font-size: em(20);
			&._error {
				border-color: $color12;
			}
			@media (max-width: $media-modal+px) {
				font-size: 12px;
			}
		}
	}
	&__attachment-icon {
		position: absolute;
		bottom: em(21);
		right: em(25);
		width: em(42);
		height: em(38);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: em(10);
		cursor: pointer;
		background-color: $color08;
		transition: background-color $timer-hover;
		&:hover {
			background-color: $color02;
		}
		i {
			margin-top: em(-2);
			&:before {
				font-size: em(28);
				color: $color06;
			}
		}
	}
	// &__if-no-msg {
	// 	font-size: em(10);
	// 	line-height: 1.8;
	// 	letter-spacing: 0.05em;
	// 	text-align: right;
	// 	a, a:visited {
	// 		color: $color05;
	// 	}
	// }
	.form-report {
		margin-top: 10px;
		@media (min-width: $media-modal+1+px) {
			position: absolute;
			bottom: em(-30);
			left: 0;
		}
	}
	&--message {
		// grid-template-columns: repeat(2, auto);
		// grid-template-columns: auto em(1) auto;
		grid-template-columns: 1fr em(1) 28%;
		@media (max-width: $media-modal+px) {
			grid-template-columns: 100%;
		}
		.form-report {
			margin-top: 10px;
			@media (min-width: $media-modal+1+px) {
				// grid-column: span 3;
				position: absolute;
				bottom: em(-30);
				left: 0;
			}
		}
	}
	&--message &__main {
		// position: relative;
		max-width: em(760);//843
		// margin-right: em(60);
		// margin-left: auto;
		// margin-right: auto;
		display: grid;
		grid-template-columns: em(240) em(240) auto;
		grid-column-gap: em(30);
		@media (max-width: $media-modal+px) {
			grid-template-columns: 100%;
			margin-right: 0;
			width: 100%;
			max-width: 480px;
		}
	}
	&--message &__bottom {
		max-width: em(760);
	}
	// &--message &__contact-method {
		// @media (min-width: $media-modal+1+px) {
		// 	padding-left: em(40);
		// }
	// }
	&--access &__container {
		padding-left: 0;
		padding-right: 0;
	}
	&--access &__main {
		width: 100%;
		max-width: em(1016);
		// width: fit-content;
		margin-left: auto;
		margin-right: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;//em(493) em(493);
		grid-column-gap: em(40);
		grid-row-gap: em(30);
		justify-content: space-between;
		@media (max-width: $media-modal+px) {
			grid-template-columns: 100%;
			width: 100%;
			max-width: $mobile-content-maxw;
		}
	}
	&--access {
		padding-top: em(10);
		grid-template-columns: 100%;
		.radio {
			flex-direction: row;
			justify-content: space-between;
			label {
				margin-bottom: 0;
			}
			.label-box {
				width: em(100);
				height: em(100);
				i {
					width: em(75);
					height: em(75);
				}
			}
			@media (max-width: $media-modal+px) {
				font-size: 11px;
			}
		}
		.icon-telegram {
			&:before {
				font-size: em(40);
			}
		}
		.icon-vk {
			&:before {
				font-size: em(32);
			}
		}
		.icon-whatsapp {
			&:before {
				font-size: em(42);
			}
		}
		.icon-viber {
			&:before {
				font-size: em(45);
			}
		}
		.modal-text {
			margin-top: 20px;
			@media (min-width: $media-modal+1+px) {
				grid-column: span 2;
				text-align: center;
				margin-top: em(40);//75
			}
		}
		.text-button-simple {
			margin-top: 0;
			align-self: end;
			width: 100%;
			@media (max-width: $media-modal+px) {
				margin-top: 15px;
				// margin-bottom: 20px;
			}
		}
		.form-report {
			margin-top: 0;
			@media (min-width: $media-modal+1+px) {
				grid-column: span 2;
			}
		}
	}
	&--access &__bottom {
		width: 100%;
		max-width: em(1016);
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $media-modal+px) {
			max-width: $mobile-content-maxw;
		}
	}
	&--access &__user-contact-input {
		align-self: end;
		margin-top: 0;
	}
}

.time-select {
	position: relative;
	z-index: 2;
	padding: 0 em(70) 0 em(5);
	width: 100%;
	height: 0;
	min-height: em(90);
	border-radius: em(45);
	background-color: $color07;
	@media (max-width: $media-modal+px) {
		min-height: 50px;
	}
	&._active {
		filter: drop-shadow(0 em(3) em(2) #333);
	}
	&__header {
		flex: 0 0 auto;
		position: relative;
		z-index: 2;
		width: 100%;
		height: em(90);
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: $media-modal+px) {
			height: 50px;
		}
	}
	&__header-expander {
		position: absolute;
		top: calc(50% - em(15));
		right: em(-25);
		font-size: em(30);
		width: em(30);
		height: em(30);
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		i:before {
			font-size: em(7);
			margin-top: 10%;
		}
	}
	&__input {
		width: em(24);
		height: em(22);
		background-color: $color07;
		font-size: em(30);
		letter-spacing: 0.05em;
		text-align: center;
		-moz-appearance: textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0; // <-- Apparently some margin are still there even though it's hidden
		}
	}
	&__divider {
		display: inline-block;
		width: em(12);
		font-size: em(30);
		text-align: center;
		user-select: none;
	}
	&__selector-box {
		position: absolute;
		top: em(45);
		left: 0;
		width: 100%;
		height: 0;
		overflow: hidden;
		background-color: $color07;
		border-radius: 0 0 em(45) em(45);
		transition: height .2s;
		.wrapper {
			display: flex;
			justify-content: center;
			margin: em(46) em(70) em(20) em(5);
		}
	}
	&._active &__selector-box {
		height: em(255);
	}
	&__selector {
		width: em(24);
		height: em(100);
		display: flex;
		flex-direction: column;
		font-size: em(30);
		background-color: $color02;
		outline: solid 1px $color06;
		overflow: auto;
		&:first-child {
			margin-right: em(12);
		}
		span {
			flex: 0 0 em(20);
			text-align: center;
			cursor: pointer;
			user-select: none;
			&:hover, &._selected {
				background-color: $color06;
			}
		}
		&::-webkit-scrollbar {
			width: 0;
		}
		scrollbar-width: none;
	}
}

