.video-player {
	width: 100%;
	max-width: em(1200);
	position: relative;
	// font-size: 0;
	background-color: $c01;
	aspect-ratio: 16/9;
	@media (max-width: $media-mobile+px) {
		margin: 0 auto;
		font-size: em(13);
	}
	&__title {
		position: absolute;
		top: em(20);
		left: em(30);
		font-size: em(30);
		color: $c02;
	}
	video {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.video-controls {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	&__area {
		flex: 1 1 auto;
	}
	&__area-btn {
		position: absolute;
		top: calc(50% - em(23));
		left: calc(50% - em(23));
		width: em(46);
		height: em(46);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		// background-color: rgba(167,188,212, 0.72);
		background: $gradient-1;
		color: #fff;
		font-size: em(40);
		padding-left: em(3);
		cursor: pointer;
		opacity: 1;
		transition: all .1s linear;
		&:hover {
			background-color: rgba(167,188,212, 0.9);
		}
		&._hidden {
			cursor: default;
			opacity: 0;
		}
	}
	&__panel {
		flex: 0 0 em(120);
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: em(70);
		padding: 0 5%;
		background-color: rgba(30, 30, 30, 0.7);
		opacity: 1;
		transition: opacity .3s;
		&._hidden {opacity: 0;}
	}
	&__play-pause {
		flex: 0 0 em(27);
		height: em(27);
		color: #A7BCD4;
		font-size: em(28);
		padding-left: em(3);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
	}
	&__seek-bar {
		flex-grow: 1;
		height: em(16);
		position: relative;
		font-size: 0;
	}
	input {
		width: 100%;
		height: 100%;
		cursor: pointer;
		-webkit-appearance: none;
		background-color: transparent;
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: em(20);
			height: em(20);
			border-radius: 50%;
			background-color: #fff;
			margin-top: em(-4);
		}
		&::-webkit-slider-runnable-track {
			background-color: #A7BCD4;
			border-radius: em(10);
			height: em(14);
		}
		&::-moz-range-thumb {
			width: em(20);
			height: em(20);
			border-radius: 50%;
			background-color: #fff;
			margin-top: em(-4);
			border: none;
		}
		&::-moz-range-track {
			height: em(14);
			background-color: #A7BCD4;
			border-radius: em(10);
		}
	}
	&__volume {
		flex: 0 0 auto;
		position: relative;
		background-color: transparent;
	}
	&__volume-btn {
		width: em(30);
		height: em(30);
		font-size: em(30);
		color: #A7BCD4;
		background-color: transparent;
		&._muted {color: #555;}
	}
	&__wrapper {
		position: absolute;
		bottom: em(130);
		left: em(-70);
		padding: em(11) 0 em(16) em(22);
		transform: rotate(-90deg); // vertical orientation
		visibility: hidden;
		opacity: 0;
		transition: visibility .3s, opacity .3s;
		.video-controls__volume:hover & {
			visibility: visible;
			opacity: 1;
		}
	}
	&__volume-bar {
		width: em(170);
		height: em(36);
		padding: 0 em(14);
		background-color: rgba(0, 0, 0, 0.7);
	}
}
